<footer class="mt-auto">
	<div class="py-3 mt-4 border-top">
		<div class="row">
			<div class="col-12 small d-flex justify-content-between">
				<div>
					<a class="font-weight-bold text-primary no-underline" href="/" title="">BordingCentral</a>
					- Copyright © Bording A/S. All rights reserved.
				</div>
				<div>
						<a class="font-weight-normal text-secondary no-underline" href="./about-us.html" title="">About Us</a>
						-
						<a class="font-weight-normal text-secondary no-underline" href="./terms-and-conditions.html" title="">Terms & Conditions</a>
						-
						<a class="font-weight-normal text-secondary no-underline" href="./faq-and-contact.html" title="">FAQ</a>
				</div>
			</div>
		</div>
	</div>
</footer>
