<div class="box">
	<div class="box__header">
		<h4 class="mb-0">People attached to this portal</h4>
	</div>

	<div class="box__content">
		<div class="row">
			<div class="col-12 col-xxl-6 mb-3">
				@@include('components/blocks/_contact-person.html')
			</div>
			<div class="col-12 col-xxl-6 mb-3">
				@@include('components/blocks/_contact-person.html')
			</div>
			<div class="col-12 col-xxl-6 mb-3">
				@@include('components/blocks/_contact-person.html')
			</div>
			<div class="col-12 col-xxl-6 mb-3">
				@@include('components/blocks/_contact-person.html')
			</div>
		</div>
	</div>
</div>
