<div class="box">
	<div class="box__header">
		<form data-drupal-selector="views-exposed-form-faqs-faq-default" action="https://dev.bordingcentral.dk/en/faqs" method="get"
		  id="views-exposed-form-faqs-faq-default" accept-charset="UTF-8" _lpchecked="1">
			<div class="row">
				<div class="js-form-item form-item md-form form-group js-form-type-textfield form-item-question js-form-item-question m-0 col-8 col-md-9"
				  inputtype="textfield">
					<label for="edit-question" class="d-none">Search</label>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text bg-light-grey" id="basic-addon1">
								<i data-feather="search"></i>
							</span>
						</div>
						<input 0="invisible" data-drupal-selector="edit-question" type="text" id="edit-question" name="question" value="" size="30"
						  maxlength="128" placeholder="Search frequently asked question.." class="form-control" aria-describedby="basic-addon1">
					</div>
				</div>
				<div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper col pl-0" id="edit-actions">
					<input class="btn btn-primary js-form-submit form-submit btn-block" data-drupal-selector="edit-submit-order-history" type="submit"
					  id="edit-submit-order-history" value="Search">
				</div>
			</div>
		</form>
	</div>
	<div class="box__content">
		<div class="row">
			<div class="col-12">
				<h2 class="mb-3 mb-md-4 font-weight-bold">How can we help?</h2>
			</div>
			<div class="col-12 col-md-6 col-lg-4 col-xxl-3 mb-3 mb-md-5">
				@@include('components/blocks/_faq-category-block.html')
			</div>
			<div class="col-12 col-md-6 col-lg-4 col-xxl-3 mb-3 mb-md-5">
				@@include('components/blocks/_faq-category-block.html')
			</div>
			<div class="col-12 col-md-6 col-lg-4 col-xxl-3 mb-3 mb-md-5">
				@@include('components/blocks/_faq-category-block.html')
			</div>
			<div class="col-12 col-md-6 col-lg-4 col-xxl-3 mb-3 mb-md-5">
				@@include('components/blocks/_faq-category-block.html')
			</div>
		</div>
	</div>
</div>
