@@include('htmlparts/_htmlstart.html')

<body class="h-100 bg-light-grey">
	<div class="container-fluid h-100">
		<div class="h-100">
			@@include('components/_sidebar.html')
			<section id="main-content" class="js-main-content h-100">
				<div class="container d-flex flex-column justify-content-between">
					@@include('components/headers/_header-logged-in.html')

					<div class="box">
						<div class="box__header">
							<h1>About Us</h1>
						</div>

						<div class="box__content pt-5">
							<div class="row">

								<div class="col-12 col-md-9">
									<div class="mb-4 mb-md-5">
										<h2 class="mb-3 mb-md-4">BordingCentral - About Us</h2>
										<h3 class="font-weight-light font-italic pb-4 border-bottom">F.E. Bording er moderselskabet i Bording-koncernen, som er en af Skandinaviens førende grafiske virksomheder.<br><br>
											 Virksomheden har eksisteret siden 1792, hvor Mathias Seest åbnede sin lille bogtrykkerbutik i hjertet af København. Verden har dog forandret sig meget i de over 200 år, der er gået – og det samme har vi!
										</h3>
										<div class="pt-4">
											<p>Bording Koncernen arbejder med Marketing Communication Services, og løser opgaver for en lang række af Skandinaviens største virksomheder. Koncernen har over 400 medarbejdere og en årlig omsætning på 500 mio. kroner. Vores virksomheder besidder alle ekspertise indenfor grafiske og digitale kommunikationsløsninger. Vi har specialiseret os i tre forretningsområder inden for Marketing Communication Services:</p>
											<p>Rådgivning: Relationsmarkedsføring og direct marketing, strategi, planlægning og implementering – individualiseret kommunikation.</p>
											<p>IT-løsninger: Omni-channel og mar	keting automation – enablers og data collectors.</p>
											<p>Cross media eksekvering: Online og offline produktion og logistik – rationelt og logistik.</p>
											<br>
											<div class="border-bottom pb-3">
												<a href="http://www.bordingcentral.dk/" target="_blank">Klik her for at besøge BordingCentral's hjemmeside og læs mere.</a>
											</div>
											<br>
											<strong>Vores vision</strong>
											<p>
												I vores daglige arbejde og beskæftigelse med vores kunder, arbejder vi i Bording A/S altid ud fra vores prioriterede vision:
													Vi vil være den førende leverandør af unikke og effektive off- og online løsninger inden for kommunikation og marketing.
												For at støtte op omkring den vision, har vi udformet 3 missioner der skal hjælpe os til at opnå status af førende leverandør indenfor området. <strong>Missionerne lyder:</strong>
												<ul>
													<li><strong>Mission 1</strong>: At levere løsninger der effektiviserer alle processer i forbindelse med håndtering af kommunikations- og marketingmaterialer.</li>
													<li><strong>Mission 2</strong>: At rådgive om de teknologiske muligheder indenfor marketing og indkøb og hjælpe kunder til effektiv kommunikation baseret på off- og online medier.</li>
													<li><strong>Mission 3</strong>: At udvikle medarbejdere og tiltrække talenter der, i samarbejde med koncernens selskaber, kan levere resultater for virksomheder og institutioner i hele Norden.</li>
												</ul>
											</p>
										</div>

										<!-- Image Carousel
										================================================== -->
										<section id="carousel" class="py-4">
											<div class="bd-example col-md-12">
												<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
													<ol class="carousel-indicators">
														<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
														<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
														<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
													</ol>
													<div class="carousel-inner" role="listbox">
														<div class="carousel-item active">
															<img class="d-block img-fluid" src="assets/images/carousel_bg.png" alt="First slide">
														</div>
														<div class="carousel-item">
															<img class="d-block img-fluid" src="assets/images/carousel_bg.png" alt="Second slide">
														</div>
														<div class="carousel-item">
															<img class="d-block img-fluid" src="assets/images/carousel_bg.png" alt="Third slide">
														</div>
													</div>
													<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
														<span class="carousel-control-prev-icon" aria-hidden="true"></span>
														<span class="sr-only">Previous</span>
													</a>
													<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
														<span class="carousel-control-next-icon" aria-hidden="true"></span>
														<span class="sr-only">Next</span>
													</a>
												</div>
											</div>
										</section>

										<strong>Lang historie og bred erfaring i branchen</strong>
										<p>Bording A/S’ udvikling har været lang og differentieret, for vi har altid efterstræbt at udvikle os sammen med markedet. Tidligere var Bording A/S markedsførende inden for produktion, men op gennem 1990’erne begyndte den øgede digitalisering og globalisering for alvor at presse den grafiske branche til fornyelse. For at imødekomme udviklingen traf vi i 2004 en strategisk beslutning om at afvikle al egenproduktion. I dag er Bording A/S markedsførende inden for kommunikationsløsninger.</p>
										<p>I 2015 har vi atter styrket vores serviceudbud og markedsposition, blandt andet gennem lanceringen af vores nye online marketing platform; Bording Central. Bording Central skaber nye muligheder for vores kunder indenfor digitale og ikke digitale kommunikationsløsninger.</p>

										<div class="box py-5">
													<div class="row">
														<div class="col-12 col-xxl-6 mb-3">
															@@include('components/blocks/_contact-person.html')
														</div>
														<div class="col-12 col-xxl-6 mb-3">
															@@include('components/blocks/_contact-person.html')
														</div>
													</div>
											</div>

									</div>
								</div>

								<div class="d-none d-md-flex col-3 col-md-3 text-right">
									@@include('components/_terms-nav.html')
								</div>

							</div>
						</div>

					@@include('components/footers/_footer-logged-in.html')
				</div>
			</section>
		</div>
	</div>
</body>

@@include('htmlparts/_htmlend.html')
