@@include('htmlparts/_htmlstart.html')

<body class="h-100 bg-light-grey">
	<div class="container-fluid h-100">
		<div class="row h-100">
			@@include('components/_sidebar.html')
			<section id="main-content" class="h-100 col">
				<div class="container d-flex flex-column justify-content-between">
					@@include('components/headers/_header-logged-in.html')

                    <div class="box landing-page mb-3">
                        <div class="box__header row">
                            <h2 class="m-0">Adressebog</h2>
                        </div>
                        <div class="box__content row">
													<div class="col-12">
															<div class="row">
																	<div class="mb-3">
																		<p>Her kan du have din helt egen adressebog. Du kan bruge de gemte adresser som leverings-, fakturerings- og afsenderadresse.</p>
																	</div>
															</div>
															<div class="row">
																<div class="col-sm-6 col-md-12 col-lg-12 mb-3">
																		<button type="submit" class="btn btn-primary my-1">Tilføje adresse</button>
																		<button type="submit" class="btn btn-primary my-1">Importér adressebog</button>
																		<button type="submit" class="btn btn-primary my-1">Exportér adressebog</button>
																</div>
																<div class="col-sm-6 col-md-12 col-lg-12 mb-3">
																		<form data-drupal-selector="views-exposed-form-faqs-faq-default" action="https://dev.bordingcentral.dk/en/faqs" method="get"
																		id="views-exposed-form-faqs-faq-default" accept-charset="UTF-8" _lpchecked="1">
																		<div class="row">
																			<div class="m-0 col-8 col-md-9">
																				<label for="edit-question" class="d-none">Search</label>
																				<div class="input-group">
																					<div class="input-group-prepend">
																						<span class="input-group-text bg-light-grey" id="basic-addon1">
																							<i data-feather="search"></i>
																						</span>
																					</div>
																					<input 0="invisible" data-drupal-selector="edit-question" type="text" id="edit-question" name="question" value="" size="30"
																						maxlength="128" placeholder="Search address..." class="form-control" aria-describedby="basic-addon1">
																				</div>
																			</div>
																			<div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper col pl-0" id="edit-actions">
																				<input class="btn btn-primary js-form-submit form-submit btn-block" data-drupal-selector="edit-submit-order-history" type="submit"
																					id="edit-submit-order-history" value="Search">
																			</div>
																		</div>
																	</form>
																</div>
															</div>
														</div>
                            <div class="address-book-table col-sm-6 col-md-12 col-lg-12">
                                <div>
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col">Kundetype</th>
                                                <th scope="col">Firma</th>
                                                <th scope="col">Navn</th>
                                                <th scope="col">Vej</th>
                                                <th scope="col">By</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Private Person</td>
                                                <td>Umwelt</td>
                                                <td>John Smith</td>
                                                <td>Turbinevej 4-6</td>
                                                <td>2100 Søborg</td>
                                            </tr>
                                            <tr>
                                                <td>Private Person</td>
                                                <td>Umwelt</td>
                                                <td>John Smith</td>
                                                <td>Turbinevej 4-6</td>
                                                <td>2100 Søborg</td>
																						</tr>
																						<tr>
                                                <td>Private Person</td>
                                                <td>Umwelt</td>
                                                <td>John Smith</td>
                                                <td>Turbinevej 4-6</td>
                                                <td>2100 Søborg</td>
                                            </tr>
                                            <tr>
                                                <td>Private Person</td>
                                                <td>Umwelt</td>
                                                <td>John Smith</td>
                                                <td>Turbinevej 4-6</td>
                                                <td>2100 Søborg</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


					<div class="col-12 float-left">
					    @@include('components/footers/_footer-logged-in.html')
				    </div>
				</div>
			</section>
		</div>
	</div>
</body>

@@include('htmlparts/_htmlend.html')



