@@include('htmlparts/_htmlstart.html')

<body class="h-100 bg-light-grey">
	<div class="container-fluid h-100">
		<div class="h-100">
			@@include('components/_sidebar.html')
			<section id="main-content" class="h-100 js-main-content">
				<div class="container d-flex flex-column justify-content-between">
					@@include('components/headers/_header-logged-in.html')

					<div class="row">
						<div class="col-12">
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 col-md-12 col-lg-4 mb-3">
								@@include('components/checkout-page-partials/_delivery-address.html')
						</div>

						<div class="col-sm-12 col-md-12 col-lg-4 mb-3">
							@@include('components/checkout-page-partials/_reference-section.html')
						</div>

						<div class="col-sm-12 col-md-12 col-lg-4 mb-3">
							@@include('components/checkout-page-partials/_billing-address.html')
						</div>
					</div>
					<div class="row">
						<div class="col-12">
								<button type="button" class="btn btn-primary float-right ml-3">Næste</button>
								<button type="button" class="btn btn-primary float-right">Tilbage</button>
						</div>
					</div>

					@@include('components/footers/_footer-logged-in.html')
				</div>
			</section>
		</div>
	</div>
</body>

@@include('htmlparts/_htmlend.html')
