@@include('htmlparts/_htmlstart.html')

<body class="h-100 bg-light-grey">
	<div class="container-fluid h-100">
		<div class="h-100">
			@@include('components/_sidebar.html')
			<section id="main-content" class="h-100 js-main-content">
				<div class="container d-flex flex-column justify-content-between">
					@@include('components/headers/_header-logged-in.html')

					<div class="row">
						<div class="col-12">
							<div class="mb-3">
								@@include('components/faq-contact-partials/_faq-categories-box.html')
							</div>
						</div>
					</div>
					<div class="row">					
						<div class="col-12 col-lg-6 mb-3">
							@@include('components/faq-contact-partials/_faq-form-box.html')
						</div>

						<div class="col-12 col-lg-6 mb-3">
							@@include('components/faq-contact-partials/_contact-people-box.html')
						</div>
					</div>

					@@include('components/footers/_footer-logged-in.html')
				</div>
			</section>
		</div>
	</div>
</body>

@@include('htmlparts/_htmlend.html')
