@@include('htmlparts/_htmlstart.html')

<body class="h-100 bg-light-grey">
	<div class="container-fluid h-100">
		<div class="h-100">
			@@include('components/_sidebar.html')
			<section id="main-content" class="h-100 js-main-content">
				<div class="container d-flex flex-column justify-content-between">
					@@include('components/headers/_header-logged-in.html')

					<div class="box">
						<div class="box__header">
							<form data-drupal-selector="views-exposed-form-faqs-faq-default" action="https://dev.bordingcentral.dk/en/faqs" method="get"
							  id="views-exposed-form-faqs-faq-default" accept-charset="UTF-8" _lpchecked="1">
								<div class="row">
									<div class="m-0 col-8 col-md-9">
										<label for="edit-question" class="d-none">Search</label>
										<div class="input-group">
											<div class="input-group-prepend">
												<span class="input-group-text bg-light-grey" id="basic-addon1">
													<i data-feather="search"></i>
												</span>
											</div>
											<input 0="invisible" data-drupal-selector="edit-question" type="text" id="edit-question" name="question" value="" size="30"
											  maxlength="128" placeholder="Search frequently asked question.." class="form-control" aria-describedby="basic-addon1">
										</div>
									</div>
									<div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper col pl-0" id="edit-actions">
										<input class="btn btn-primary js-form-submit form-submit btn-block" data-drupal-selector="edit-submit-order-history" type="submit"
										  id="edit-submit-order-history" value="Search">
									</div>
								</div>
							</form>
						</div>

						<div class="box__content">
							<a href="./faq-and-contact.html" class="d-flex align-items-center mb-3">
								<i data-feather="arrow-left" class="mr-2"></i>
								<span>Back to Contact/FAQ</span>
							</a>
							<div class="row">
								<div class="d-none d-md-flex col-3 col-md-3">
									@@include('components/_faq-nav.html')
								</div>

								<div class="col-12 col-md-7">
									<div class="mb-4 mb-md-5">
										<h2 class="mb-3 mb-md-5">Hvordan ændrer jeg min adgangskode?</h2>
											<p>Du kan ændre din adgangskode ved at gå til siden "Min profil".</p>
											<p>Her kan du skifte din adgangskode og gemme den ved at klikke på "Gem og fortsæt". Er dette ikke muligt kan du
												sende en supportsag via supportformularen.</p>
									</div>
									<div class="py-4 py-md-5 border-top">
										<h4 class="mb-3 mb-md-4">Related FAQs</h4>
											<div class="mb-2">
												<span class="lead">
													<a href="./faq-details.html" class="text-primary">I need help shipping.</a>
												</span>
											</div>
											<div class="mb-2">
												<span class="lead">
													<a href="./faq-details.html" class="text-primary">Where can I find my order?</a>
												</span>
											</div>
											<div class="mb-2">
												<span class="lead">
													<a href="./faq-details.html" class="text-primary">Something completely different.</a>
												</span>
											</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					@@include('components/footers/_footer-logged-in.html')
				</div>
			</section>
		</div>
	</div>
</body>

@@include('htmlparts/_htmlend.html')
