@@include('htmlparts/_htmlstart.html')

<body class="h-100 bg-light-grey">
	<div class="container-fluid h-100">
		<div class="h-100">
			@@include('components/_sidebar.html')
			<section id="main-content" class="h-100 js-main-content">
				<div class="container d-flex flex-column justify-content-between">

					@@include('components/headers/_header-logged-in.html')

					<div class="box">
						<div class="box__header">
							<form action="">
								<div class="row">
									<div class="px-3 input-group mb-0 col">
										<div class="input-group-prepend">
											<span class="input-group-text bg-light-grey" id="basic-addon1">
												<i data-feather="search"></i>
											</span>
										</div>
										<label for="edit-filter" class="d-none">Filter</label>
										<input placeholder="Search products in produkter..." class="col form-control" id="edit-filter" name="filter" value="" size="30"
										  maxlength="128">
									</div>

									<div class="d-flex align-items-center">
										<select class="custom-select" id="edit-better-sort" name="better_sort">
											<option value="latest">Latest</option>
											<option value="oldest">Oldest</option>
											<option value="az">Alphabetical A-Z</option>
											<option value="za">Alphabetical Z-A</option>
										</select>
										<div class="ml-3">
											@@include('components/blocks/_view-switcher.html')
										</div>
									</div>
								</div>
							</form>
						</div>
						<div class="box__content">
							<div class="row product-overview grid-view">
								<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 mb-4">
									@@include('components/blocks/_product.html')
								</div>
								<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 mb-4">
									@@include('components/blocks/_product.html')
								</div>
								<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 mb-4">
									@@include('components/blocks/_product.html')
								</div>
								<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 mb-4">
									@@include('components/blocks/_product.html')
								</div>
								<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 mb-4">
									@@include('components/blocks/_product.html')
								</div>
								<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 mb-4">
									@@include('components/blocks/_product.html')
								</div>
								<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 mb-4">
									@@include('components/blocks/_product.html')
								</div>
								<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 mb-4">
									@@include('components/blocks/_product.html')
								</div>
								<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 mb-4">
									@@include('components/blocks/_product.html')
								</div>
							</div>
						</div>
					</div>
					@@include('components/footers/_footer-logged-in.html')
				</div>

			</section>
		</div>
	</div>
</body>

@@include('htmlparts/_htmlend.html')
