@@include('htmlparts/_htmlstart.html')

<body class="h-100 bg-light frontpage">
	<section class="h-100 d-flex flex-column justify-content-between container">
		@@include('components/headers/_header.html')

		<article class="mt-auto">
			<div class="text-center col-md-8 offset-md-2">
				<h1 class="display-4">
					Welcome
					<em>to</em>
					<span class="font-weight-bold">Bording Central</span>
				</h1>
				<p class="lead p-2">
					Your online portal with your personal templates, where you quickly and easily can order, edit, and keep track of your printed
					matter. Marketing done efficiently.
				</p>
				<div>
					<a href="./login.html" class="btn btn-outline-primary btn-lg">Login</a>
				</div>
			</div>
		</article>

		@@include('components/footers/_footer.html')
	</section>
</body>

@@include('htmlparts/_htmlend.html')
