@@include('htmlparts/_htmlstart.html')

<body class="h-100 bg-light-grey">
	<div class="container-fluid h-100">
		<div class="h-100">
			@@include('components/_sidebar.html')
			<section id="main-content" class="h-100 js-main-content">
				<div class="container d-flex flex-column justify-content-between">
					@@include('components/headers/_header-logged-in.html')

					
					<h2 class="py-2 py-md-5">Welcome Bording A/S</h2>    
					                
					<div class="row">
						@@include('components/blocks/_stock-product.html')
					</div>

					@@include('components/footers/_footer-logged-in.html')
				</div>
			</section>
		</div>
	</div>
</body>

@@include('htmlparts/_htmlend.html')
