@@include('htmlparts/_htmlstart.html')

<body class="h-100 bg-light-grey">
	<div class="container-fluid h-100">
		<div class="h-100">
			@@include('components/_sidebar.html')
			<section id="main-content" class="h-100 js-main-content">
				<div class="container d-flex flex-column justify-content-between">
					@@include('components/headers/_header-logged-in.html')

					<div class="box">
						<div class="box__header">
							<h4>Welcome Bording A/S</h4>
						</div>
						<div class="box__content">
							<div class="row">
								<div class="col-12 col-md-6 col-lg-4 col-xxl-3 mb-3 mb-md-4">
									@@include('components/blocks/_shortcut.html')
								</div>
								<div class="col-12 col-md-6 col-lg-4 col-xxl-3 mb-3 mb-md-4">
									@@include('components/blocks/_shortcut.html')
								</div>
								<div class="col-12 col-md-6 col-lg-4 col-xxl-3 mb-3 mb-md-4">
									@@include('components/blocks/_shortcut.html')
								</div>
								<div class="col-12 col-md-6 col-lg-4 col-xxl-3 mb-3 mb-md-4">
									@@include('components/blocks/_shortcut.html')
								</div>
							</div>
						</div>
					</div>

					@@include('components/footers/_footer-logged-in.html')
				</div>
			</section>
		</div>
	</div>
</body>

@@include('htmlparts/_htmlend.html')
