@@include('htmlparts/_htmlstart.html')

<body class="h-100 bg-primary">
	<section class="h-100 d-flex flex-column container">
		<div class="my-4 col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3">
			<h1 class="display-4 text-white">Views</h1>
			<div class="card">
				<ul class="m-0 list-group">
					<li class="list-group-item">
						<a class="h6" href="./about-us.html">About Us</a>
					</li>
					<li class="list-group-item">
							<a class="h6" href="./address-book.html">Address Book</a>
						</li>
					<li class="list-group-item">
						<a class="h6" href="./register-form.html">Address Register Form</a>
					</li>
					<li class="list-group-item">
						<a class="h6" href="./checkout.html">Checkout</a>
					</li>
					<li class="list-group-item">
						<a class="h6" href="./faq-overview.html">FAQ Overview Page</a>
					</li>
					<li class="list-group-item">
						<a class="h6" href="./faq-details.html">FAQ Details Page</a>
					</li>
					<li class="list-group-item">
						<a class="h6" href="./faq-and-contact.html">Contact/FAQ Page</a>
					</li>
					<li class="list-group-item">
						<a class="h6" href="./forgot-password.html">Forgot Password Page</a>
					</li>
					<li class="list-group-item">
						<a class="h6" href="./frontpage.html">Frontpage</a>
					</li>
					<li class="list-group-item">
						<a class="h6" href="./frontpage-logged-in.html">Frontpage Logged In</a>
					</li>
					<li class="list-group-item">
						<a class="h6" href="./frontpage-logged-in-two.html">Frontpage Logged In Stock Category List</a>
					</li>
					<li class="list-group-item">
						<a class="h6" href="./landing-page-v2.html">Landing Page Dashboard</a>
					</li>
					<li class="list-group-item">
						<a class="h6" href="./login.html">Login Page</a>
					</li>
					<li class="list-group-item">
						<a class="h6" href="./login-non-bording.html">Login Page Non Bording</a>
					</li>
					<li class="list-group-item">
						<a class="h6" href="./news-and-announcements.html">News And Announcements</a>
					</li>
					<li class="list-group-item">
						<a class="h6" href="./order-history.html">Order History Page</a>
					</li>
					<li class="list-group-item">
						<a class="h6" href="./order-details.html">Order Details Page</a>
					</li>
					<li class="list-group-item">
						<a class="h6" href="./product-overview.html">Products Page</a>
					</li>
					<li class="list-group-item">
						<a class="h6" href="./product-details.html">Product Details Page</a>
					</li>
					<li class="list-group-item">
						<a class="h6" href="./product-subcategory.html">Product Subcategory Page</a>
					</li>
					<li class="list-group-item">
						<a class="h6" href="./product-add-to-cart.html">Product Add To Cart Page</a>
					</li>
					<li class="list-group-item">
						<a class="h6" href="./terms-and-conditions.html">Terms & Conditions</a>
					</li>
					<li class="list-group-item">
						<a class="h6" href="./template-input.html">Template Input</a>
					</li>
					<li class="list-group-item">
						<a class="h6" href="./template-examples.html">Template Examples</a>
					</li>
					<li class="list-group-item">
						<a class="h6" href="./user-settings.html">User Settings Page</a>
					</li>
				</ul>
			</div>
		</div>
	</section>
</body>

@@include('htmlparts/_htmlend.html')
