@@include('htmlparts/_htmlstart.html')

<body class="h-100 bg-light-grey">
	<div class="container-fluid h-100">
		<div class="row h-100">
			@@include('components/_sidebar.html')
			<section id="main-content" class="h-100 col">
				<div class="container d-flex flex-column justify-content-between">
					@@include('components/headers/_header-logged-in.html')

					<div class="box landing-page">
						<div class="box__header">
							<h4 class="m-0">Home</h4>
						</div>
						<div class="box__content">
							<div class="row">
								<div class="col-12 mb-5 pb-2 border-bottom">
									<ul class="nav nav-pills d-flex flex-row justify-content-between mb-2 pb-2 p-md-0">
										<li class="list-inline-item mb-1">
											<a class="nav-link active show px-5" data-toggle="tab" href="#products">Products</a>
										</li>
										<li class="list-inline-item mb-1">
											<a class="nav-link px-5" data-toggle="tab" href="#order-history">Order History</a>
										</li>
										<li class="list-inline-item mb-1">
											<a class="nav-link px-5" data-toggle="tab" href="#account-settings">Account Settings</a>
										</li>
									</ul>
								</div>
								<div class="col-12 tab-content mb-3 mb-md-4">
									<div id="products" class="tab-pane fade show active">
										<h4 class="font-weight-bold mb-3 mb-md-4">Choose a product and get started</h4>
										@@include('components/landing-page-partials/_categories.html')
									</div>
									<div id="order-history" class="tab-pane fade">
										<h4 class="font-weight-bold mb-3 mb-md-4">Order history</h4>
										@@include('components/blocks/_order-history-table.html')
									</div>
									<div id="account-settings" class="tab-pane fade">
										<h4 class="font-weight-bold mb-3 mb-md-4">Account Settings</h4>
										<div class="account col-12 col-lg-4 float-left">
											<div class="pb-3 mb-4">
												<h4 class="font-weight-bold mb-3 mb-md-4">Account</h4>
												@@include('components/user-settings-partials/_account.html')
											</div>
										</div>
										<div class="col-12 col-lg-8 float-right">
											<div class="update-profile border-bottom mb-4">
												<h4 class="font-weight-bold mb-3 mb-md-4">Profile</h4>
												@@include('components/user-settings-partials/_update-profile-form.html')
											</div>
											<div class="update-shipping border-bottom mb-4">
												<h4 class="font-weight-bold mb-3 mb-md-4">Shipping</h4>
												@@include('components/user-settings-partials/_update-shipping-form.html')
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					@@include('components/footers/_footer-logged-in.html')
				</div>
			</section>
		</div>
	</div>
</body>

@@include('htmlparts/_htmlend.html')



