@@include('htmlparts/_htmlstart.html')

<body class="h-100 bg-light-grey">
	<div class="container-fluid h-100">
		<div class="row h-100">
			@@include('components/_sidebar.html')
			<section id="main-content" class="h-100 col">
				<div class="container d-flex flex-column justify-content-between">
					@@include('components/headers/_header-logged-in.html')

					<div class="box landing-page mb-3">
						<div class="box mt-5">
							<div class="box__header">
								<h4 class="m-0">Products</h4>
							</div>
							<div class="box__content">
								<div class="row">
									<div class="col-12 mb-5">
										<div class="col-12 tab-content mb-3 mb-md-4">
											<div id="account" class="tab-pane fade show active">
												@@include('components/landing-page-partials/_categories.html')
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="box mt-5">
							<div class="box__header">
								<h4 class="m-0">Order History</h4>
							</div>
							<div class="box__content">
								<div class="row">
									<div class="col-12 mb-3 mb-md-4">
										<div>
											@@include('components/blocks/_order-history-table.html')
											<button type="button" class="btn btn-outline-primary mt-3" href="./order-history.html">Full order history</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="box mt-5">
							<div class="box col-6 float-left profile">
								<div class="box__header">
									<h4 class="m-0">Profile</h4>
								</div>
								<div class="box__content">
									<div class="row">
										<div class="col-12">
											<div class="media mb-3 mb-md-4 d-flex align-items-center">
												<img class="media-img mr-3 rounded-circle" src="./assets/images/no-avatar.png" >
												<div class="media-body">
													<h6 class="mt-0 font-weight-bold">Testuser Testusersen</h6>
													<a href="mailto:maj@bording.dk" class="d-flex small align-items-center">
														<i data-feather="mail" class="mr-2"></i>
														<span>test@bording.dk</span>
													</a>
												</div>
											</div>

											<address class="shipping-address">
												<div class="d-flex align-items-center">
													<h6 class="font-weight-bold mr-2">Shipping Address</h6>
												</div>
												Gentofte Kommune - Rådhuset
												<br/>Rådhuset - vær 8
												<br/>Bernstorffsvej 161
												<br/>2920, Charlottenlund DK
											</address>

											<address class="primary-address">
												<div class="d-flex align-items-center">
													<h6 class="font-weight-bold mr-2">Primary Address</h6>
												</div>
												Gentofte Kommune - Rådhuset
												<br/>Rådhuset - vær 8
												<br/>Bernstorffsvej 161
												<br/>2920, Charlottenlund DK
											</address>
										</div>
									</div>
								</div>
							</div>
							<div class="box col-6 float-right profile">
								<div class="box__header">
									<h4 class="m-0">Update Profile</h4>
								</div>
								<div class="box__content">
									<div class="row">
										<div class="col-12">
											@@include('components/user-settings-partials/_update-profile-form.html')
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 float-left">
							@@include('components/footers/_footer-logged-in.html')
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</body>

@@include('htmlparts/_htmlend.html')



