@@include('htmlparts/_htmlstart.html')

<body class="h-100 bg-light-grey login-page">
	<section class="h-100 d-flex flex-column justify-content-between container">
		<!-- @@include('components/headers/_header.html') -->
			
		<!-- Navbar with brand text-black class instead of text-white -->
		<nav class="navbar px-0">
            <a class="navbar-brand" href="/">
                
                <img class="img-fluid" src="./assets/images/placeholder_logo.png" alt="" style="width: 10em;">
				<!-- <span class="h4 font-weight-bold text-primary">TestCompany</span> -->
			</a>
			<div id="block-bc-languageswitcher" role="navigation">
				@@include('components/_language-picker.html')
			</div>
		</nav>

		<main class="my-auto">
			<div class="row">
				<div class="col-12">
					@@include('components/forms/_login-form-non-bording.html')
				</div>
			</div>
		</main>
		@@include('components/footers/_footer-non-bording.html')
	</section>
</body>

@@include('htmlparts/_htmlend.html')
