@@include('htmlparts/_htmlstart.html')

<body class="h-100 bg-light-grey login-page">
	<section class="h-100 d-flex flex-column justify-content-between container">
        @@include('components/headers/_header.html')

		<main class="my-auto">
			<div class="row">
				<div class="col-12">
					@@include('components/forms/_login-form.html')
				</div>
			</div>
		</main>
		@@include('components/footers/_footer.html')
	</section>
</body>

@@include('htmlparts/_htmlend.html')
