@@include('htmlparts/_htmlstart.html')

<body class="h-100 bg-light-grey">
	<div class="container-fluid h-100">
		<div class="h-100">
			@@include('components/_sidebar.html')
			<section id="main-content" class="h-100 js-main-content">
				<div class="container d-flex flex-column justify-content-between">
					@@include('components/headers/_header-logged-in.html')

					<div class="box">
						<div class="box__header">
							<div class="row align-items-center">
								<div class="col-9">
									<h4>Gentofte Kommune - 000001</h4>
								</div>
								<div class="col">
									<a href="#" class="float-right d-flex align-items-center" data-toggle="modal" data-target="#exampleModalCenter" title="Download order confirmation">
										<i data-feather="file-text"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="box__content">
							<div class="row">
								<div class="col-12">
									<ul class="list-inline d-flex justify-content-between py-3 mb-0 border-top border-bottom">
										<li class="list-inline-item mr-md-4">
											<strong>Order No:</strong>
											<br>
											<span class="h5 font-weight-normal">000001</span>
										</li>
										<li class="list-inline-item mr-md-4">
											<strong>Order Date:</strong>
											<br>
											<span class="h5 font-weight-normal">
												11.12.2017
											</span>
										</li>
										<li class="list-inline-item mr-md-4">
											<strong>Account No:</strong>
											<br>
											<span class="h5 font-weight-normal">
												3153813
											</span>
										</li>
									</ul>
								</div>

								<div class="col-12 my-3 my-md-4">
									<div class="row">
										<div class="col-12 col-lg-3 mb-2 mb-md-3">
											@@include('components/order-details-partials/_delivery-address.html')
										</div>
										<div class="col-12 col-lg-3 mb-2 mb-md-3">
											@@include('components/order-details-partials/_billing-address.html')
										</div>
										<div class="col-12 col-lg-6 mb-md-3">
											@@include('components/order-details-partials/_references.html')
										</div>
									</div>
								</div>

							</div>
							@@include('components/order-details-partials/_order-details-table.html')
						</div>
					</div>
					@@include('components/footers/_footer-logged-in.html')
				</div>
			</section>

			@@include('components/order-details-partials/_pdf-modal.html')
		</div>
	</div>
</body>

@@include('htmlparts/_htmlend.html')
