@@include('htmlparts/_htmlstart.html')

<body class="h-100 bg-light-grey">
	<div class="container-fluid h-100">
		<div class="h-100">
			@@include('components/_sidebar.html')
			<section id="main-content" class="h-100 js-main-content">
				<div class="container d-flex flex-column justify-content-between">
					@@include('components/headers/_header-logged-in.html')

					<div class="box">
						<div class="box__header">
							<div class="row">
								<div class="js-form-item form-group js-form-type-textfield form-item-orderid js-form-item-orderid input-group m-0 col-8 col-md-9"
								  inputtype="textfield">
									<div class="input-group-prepend">
										<span class="input-group-text bg-light-grey" id="basic-addon1">
											<i data-feather="search"></i>
										</span>
									</div>
									<label for="edit-orderid" class="d-none order-option" data-text="ID">ID</label>
									<input class="col form-control" placeholder="Search order ID" data-drupal-selector="edit-orderid" type="text" id="edit-orderid"
									  name="orderid" value="" size="30" maxlength="128">
								</div>

								<div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper col pl-0" id="edit-actions">
									<input class="btn btn-primary js-form-submit form-submit btn-block" data-drupal-selector="edit-submit-order-history" type="submit"
									  id="edit-submit-order-history" value="Search">
								</div>
							</div>
						</div>

						<div class="box__content">
							@@include('components/blocks/_order-history-table.html')			
						</div>
					</div>

					@@include('components/footers/_footer-logged-in.html')
				</div>
			</section>
		</div>
	</div>
</body>

@@include('htmlparts/_htmlend.html')
