@@include('htmlparts/_htmlstart.html')

<body class="h-100 bg-light-grey">
	<div class="container-fluid h-100">
		<div class="h-100">
			@@include('components/_sidebar.html')
			<section id="main-content" class="h-100 js-main-content">
				<div class="container d-flex flex-column justify-content-between">

					@@include('components/headers/_header-logged-in.html')

					<div class="box">
						<div class="box__header">
							<h4>Product Details</h4>
						</div>
						<div class="box__content">
							<div class="pb-3">
								<div class="row">
									<div class="col-12 col-lg-4 mb-3 mb-lg-0">
										<div class="d-flex justify-content-center align-items-center">
											<img src="assets/images/tidskort.jpg" class="img-fluid">
										</div>
									</div>
									<div class="col-12 col-lg-8">
										<div class="mb-3">
											<h6 class="font-weight-bold">Timecard Version A</h6>
											<p>1</p>

											<h6 class="font-weight-bold">Description:</h6>
											<p>
												A time card for your customer, with date and time for their next appointment.
												<br/> Upload your own photo to the back of the card or select a photo from the gallery.
											</p>


											<h6 class="font-weight-bold">Instructions:</h6>
											<p>
												Format: 85.7 x 54 mm Colors: 4 + 4 (CMYK) Paper: Scandia2000 Item No: 9125
											</p>

											<h6 class="font-weight-bold">Prices*:</h6>
											<ul class="list-unstyled">
												<li>500 pcs. - Dkr. 610,- </li>
												<li>1.000 pcs. - Dkr. 990,-</li>
												<li>1.500 pcs. - Dkr. 1380,-</li>
												<li>2.000 pcs. - Dkr. 1760,-</li>
											</ul>

											<p class="text-muted">
												<small>
													*Prices include expedition and shipping costs, but not VAT and environmental management costs. Expected delivery: 2-3 work
													days (from order confirmation).
												</small>
											</p>
										</div>
									</div>
								</div>
							</div>
							@@include('components/blocks/_product-configuration.html')

							<div class="related-products">
									<h5 class="text-center font-weight-bold border-top border-bottom py-3 mb-3">Related products</h5>
									<div class="row">
										<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 mb-md-3">
											@@include('components/blocks/_related-product.html')
										</div>
										<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 mb-md-3">
											@@include('components/blocks/_related-product.html')
										</div>
										<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 mb-md-3">
											@@include('components/blocks/_related-product.html')
										</div>
										<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 mb-md-3">
											@@include('components/blocks/_related-product.html')
										</div>
										<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 mb-md-3">
											@@include('components/blocks/_related-product.html')
										</div>
										<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 mb-md-3">
											@@include('components/blocks/_related-product.html')
										</div>
										<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 mb-md-3">
											@@include('components/blocks/_related-product.html')
										</div>
										<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 mb-md-3">
											@@include('components/blocks/_related-product.html')
										</div>
										<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 mb-md-3">
											@@include('components/blocks/_related-product.html')
										</div>
									</div>
							</div>
						</div>
					</div>
					@@include('components/footers/_footer-logged-in.html')
				</div>

			</section>
		</div>
	</div>
</body>

@@include('htmlparts/_htmlend.html')
