@@include('htmlparts/_htmlstart.html')

<body class="h-100 bg-light-grey">
	<div class="container-fluid h-100">
		<div class="h-100">
			@@include('components/_sidebar.html')
			<section id="main-content" class="h-100 js-main-content">
				<div class="container d-flex flex-column justify-content-between">

					@@include('components/headers/_header-logged-in.html')

					<div class="box mb-3">
						<div class="box__header">
							<h4>Timecard version D</h4>
						</div>
						<div class="box__content">
							<div class="border-bottom pb-3">
								<div class="row">
									<div class="col-12 col-md-6">
										@@include('components/forms/_product-preview-form.html')
									</div>
									<div class="col-12 col-md-6">
                                        
									</div>
								</div>
							</div>
							<div class="row mt-3">
								<div class="col">
									<form action="">
										<div class="row">
											<div class="col-12 col-sm-6 offset-sm-6 col-md-4 offset-md-8 col-lg-3 offset-lg-9">
												<div class="form-group">
													<label for="" class="col-form-label-sm">Quantity</label>
													<select class="custom-select">
														<option value="50">50</option>
														<option value="100">100</option>
														<option value="150">150</option>
													</select>
												</div>

												<h5 class="text-right py-3 mb-3 border-bottom font-weight-bold">200,- DKK</h5>

												<button type="submit" href="#" class="btn btn-primary btn-block">Add to Cart </button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>

					@@include('components/footers/_footer-logged-in.html')
				</div>

			</section>
		</div>
	</div>
</body>

@@include('htmlparts/_htmlend.html')
