@@include('htmlparts/_htmlstart.html')

<body class="h-100 bg-light-grey">
	<div class="container-fluid h-100">
		<div class="h-100">
			@@include('components/_sidebar.html')
			<section id="main-content" class="h-100">
				<div class="container d-flex flex-column justify-content-between">
					@@include('components/headers/_header-logged-in.html')
					<div class="box">
						<div class="box__header">
							<form data-drupal-selector="views-exposed-form-faqs-faq-default" action="https://dev.bordingcentral.dk/en/faqs" method="get"
							  id="views-exposed-form-faqs-faq-default" accept-charset="UTF-8" _lpchecked="1">
								<div class="row">
									<div class="js-form-item form-item md-form form-group js-form-type-textfield form-item-question js-form-item-question m-0 col-8 col-md-9"
									  inputtype="textfield">
										<label for="edit-question" class="d-none">Search</label>
										<div class="input-group">
											<div class="input-group-prepend">
												<span class="input-group-text bg-light-grey" id="basic-addon1">
													<i data-feather="search"></i>
												</span>
											</div>
											<input 0="invisible" data-drupal-selector="edit-question" type="text" id="edit-question" name="question" value="" size="30"
											  maxlength="128" placeholder="Search products..." class="form-control" aria-describedby="basic-addon1">
										</div>
									</div>
									<div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper col pl-0" id="edit-actions">
										<input class="btn btn-primary js-form-submit form-submit btn-block" data-drupal-selector="edit-submit-order-history" type="submit"
										  id="edit-submit-order-history" value="Search">
									</div>
								</div>
							</form>
						</div>
						<div class="box__content">
							<h4 class="mb-3">Popular Products</h4>
							<div class="row">
								<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-4 mb-md-4 lazy">
									<div class="media d-flex justify-content-center align-items-center">
										<div>
											<div class="d-flex justify-content-center align-items-center">
												<div class="col-6 mt-4 mb-2">
													<img src="assets/images/blocks.png" class="img-fluid">
												</div>
											</div>
										</div>
									</div>
									<div>
										<div class="d-flex align-items-center justify-content-between heading">
											<h5 class="font-weight-bold my-3">Postcard A6</h5>
										</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
										<a class="btn btn-primary mb-4" href="product-details.html" titel="" target="">Customize Product</a>
									</div>
								</div>

								<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-4 mb-md-4 lazy">
									<div class="media d-flex justify-content-center align-items-center">
										<div>
											<div class="d-flex justify-content-center align-items-center">
												<div class="col-6 mt-4 mb-2">
													<img src="assets/images/blocks.png" class="img-fluid">
												</div>
											</div>
										</div>
									</div>
									<div>
										<div class="d-flex align-items-center justify-content-between heading">
											<h5 class="font-weight-bold my-3">Postcard M65</h5>
										</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
										<a class="btn btn-primary mb-4" href="product-details.html" titel="" target="">Customize Product</a>
									</div>
								</div>

								<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-4 mb-md-4 lazy">
									<div class="media d-flex justify-content-center align-items-center">
										<div>
											<div class="d-flex justify-content-center align-items-center">
												<div class="col-6 mt-4 mb-2">
													<img src="assets/images/blocks.png" class="img-fluid">
												</div>
											</div>
										</div>
									</div>
									<div>
										<div class="d-flex align-items-center justify-content-between heading">
											<h5 class="font-weight-bold my-3">Postcard VK1</h5>
										</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
										<a class="btn btn-primary mb-4" href="product-details.html" titel="" target="">Customize Product</a>
									</div>
								</div>

								<div class="col-12 col-sm-6 col-md-9 col-lg-3 col-xxl-12 mb-md-4">
									<h1 class="border-top pt-3">Postcard</h1>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed dolor ut nibh finibus sollicitudin eget id
										augue. Interdum et malesuada fames ac ante ipsum primis in faucibus.Lorem ipsum dolor sit amet, consectetur adipiscing
										elit. Curabitur sed dolor ut nibh finibus sollicitudin eget id augue. Interdum et malesuada fames ac ante ipsum
										primis in faucibus.</p>
								</div>

								<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-6 mb-md-4 border lazy">
									<div class="col-12 col-xxl-12">
										<div class="media d-flex justify-content-center align-items-center">
											<div>
												<div class="d-flex justify-content-center align-items-center">
													<div class="col-10 mt-4 mb-2">
														<img src="assets/images/blocks.png" class="img-fluid">
													</div>
												</div>
											</div>
										</div>
										<div>
											<div class="d-flex align-items-center justify-content-between heading">
												<h5 class="font-weight-bold my-3">Postcard Multipacks</h5>
											</div>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed dolor ut nibh finibus sollicitudin eget
												id augue. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
											<a class="btn btn-primary mb-4" href="product-details.html" titel="" target="">See Product</a>
										</div>
									</div>
								</div>

								<div class="col-12 col-xxl-6">
									<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-12 mb-md-4 border lazy">
										<div class="media d-flex justify-content-center align-items-center">
											<div>
												<div class="d-flex justify-content-center align-items-center">
													<div class="col-3 mt-4 mb-2">
														<img src="assets/images/blocks.png" class="img-fluid">
													</div>
												</div>
											</div>
										</div>
										<div>
											<div class="d-flex align-items-center justify-content-between heading">
												<h5 class="font-weight-bold my-3">Bookmarks</h5>
											</div>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
											<a class="btn btn-primary mb-4" href="product-details.html" titel="" target="">See Product</a>
										</div>
									</div>

									<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-12 mb-md-4 border lazy">
										<div class="media d-flex justify-content-center align-items-center">
											<div>
												<div class="d-flex justify-content-center align-items-center">
													<div class="col-3 mt-4 mb-2">
														<img src="assets/images/blocks.png" class="img-fluid">
													</div>
												</div>
											</div>
										</div>
										<div>
											<div class="d-flex align-items-center justify-content-between heading">
												<h5 class="font-weight-bold my-3">Samples</h5>
											</div>
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
											<a class="btn btn-primary mb-4" href="product-details.html" titel="" target="">See Product</a>
										</div>
									</div>

								</div>

								<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-4 mb-md-4 lazy">
									<div class="media d-flex justify-content-center align-items-center">
										<div>
											<div class="d-flex justify-content-center align-items-center">
												<div class="col-6 mt-4 mb-2">
													<img src="assets/images/blocks.png" class="img-fluid">
												</div>
											</div>
										</div>
									</div>
									<div>
										<div class="d-flex align-items-center justify-content-between heading">
											<h5 class="font-weight-bold my-3">Postcard A6</h5>
										</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed dolor ut nibh finibus sollicitudin eget
											id augue. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
										<a class="btn btn-primary mb-4" href="product-details.html" titel="" target="">See Product</a>
									</div>
								</div>

								<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-4 mb-md-4 lazy">
									<div class="media d-flex justify-content-center align-items-center">
										<div>
											<div class="d-flex justify-content-center align-items-center">
												<div class="col-6 mt-4 mb-2">
													<img src="assets/images/blocks.png" class="img-fluid">
												</div>
											</div>
										</div>
									</div>
									<div>
										<div class="d-flex align-items-center justify-content-between heading">
											<h5 class="font-weight-bold my-3">Postcard M65</h5>
										</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed dolor ut nibh finibus sollicitudin eget
											id augue. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
										<a class="btn btn-primary mb-4" href="product-details.html" titel="" target="">See Product</a>
									</div>
								</div>

								<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-4 mb-md-4 lazy">
									<div class="media d-flex justify-content-center align-items-center">
										<div>
											<div class="d-flex justify-content-center align-items-center">
												<div class="col-6 mt-4 mb-2">
													<img src="assets/images/blocks.png" class="img-fluid">
												</div>
											</div>
										</div>
									</div>
									<div>
										<div class="d-flex align-items-center justify-content-between heading">
											<h5 class="font-weight-bold my-3">Postcard VK1</h5>
										</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed dolor ut nibh finibus sollicitudin eget
											id augue. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
										<a class="btn btn-primary mb-4" href="product-details.html" titel="" target="">See Product</a>
									</div>
								</div>

								<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-4 mb-md-4 lazy">
									<div class="media d-flex justify-content-center align-items-center">
										<div>
											<div class="d-flex justify-content-center align-items-center">
												<div class="col-6 mt-4 mb-2">
													<img src="assets/images/blocks.png" class="img-fluid">
												</div>
											</div>
										</div>
									</div>
									<div>
										<div class="d-flex align-items-center justify-content-between heading">
											<h5 class="font-weight-bold my-3">Postcard VK1</h5>
										</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed dolor ut nibh finibus sollicitudin eget
											id augue. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
										<a class="btn btn-primary mb-4" href="product-details.html" titel="" target="">See Product</a>
									</div>
								</div>

								<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-4 mb-md-4 lazy">
									<div class="media d-flex justify-content-center align-items-center">
										<div>
											<div class="d-flex justify-content-center align-items-center">
												<div class="col-6 mt-4 mb-2">
													<img src="assets/images/blocks.png" class="img-fluid">
												</div>
											</div>
										</div>
									</div>
									<div>
										<div class="d-flex align-items-center justify-content-between heading">
											<h5 class="font-weight-bold my-3">Postcard VK1</h5>
										</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed dolor ut nibh finibus sollicitudin eget
											id augue. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
										<a class="btn btn-primary mb-4" href="product-details.html" titel="" target="">See Product</a>
									</div>
								</div>

								<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-4 mb-md-4 lazy">
									<div class="media d-flex justify-content-center align-items-center">
										<div>
											<div class="d-flex justify-content-center align-items-center">
												<div class="col-6 mt-4 mb-2">
													<img src="assets/images/blocks.png" class="img-fluid">
												</div>
											</div>
										</div>
									</div>
									<div>
										<div class="d-flex align-items-center justify-content-between heading">
											<h5 class="font-weight-bold my-3">Postcard VK1</h5>
										</div>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur sed dolor ut nibh finibus sollicitudin eget
											id augue. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
										<a class="btn btn-primary mb-4" href="product-details.html" titel="" target="">See Product</a>
									</div>
								</div>

								<div>

								</div>

							</div>
						</div>
					</div>
					@@include('components/footers/_footer-logged-in.html')
				</div>
			</section>
		</div>
	</div>
</body>
@@include('htmlparts/_htmlend.html')
