@@include('htmlparts/_htmlstart.html')

<body class="h-100 bg-light-grey">
	<div class="container-fluid h-100">
		<div class="row h-100">
			@@include('components/_sidebar.html')
			<section id="main-content" class="h-100 col">
				<div class="container d-flex flex-column justify-content-between">
					@@include('components/headers/_header-logged-in.html')

                    <div class="box landing-page mb-3">
                        <div class="box__header row">
                            <h4 class="m-0">Tilføj Addresse</h4>
                        </div>
                        <div class="box__content row">
                            <div class="col-md-12 col-lg-4 float-left mb-3">
                                <form>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Kundetype</label>
                                        <select class="form-control">
                                            <option valur="privateperson">Private Person</option>
                                            <option value="option1">Option</option>
                                            <option value="option2">Option2</option>
                                            <option value="option3">Option3</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="formFirma">Firma</label>
                                        <input type="text" class="form-control" id="formFirma">
                                    </div>

                                    <div class="form-group">
                                        <label for="formFornavn">Fornavn*</label>
                                        <input type="text" class="form-control" id="formFornavn">
                                    </div>
                                    <div class="form-group">
                                        <label for="formEfternavn">Efternavn*</label>
                                        <input type="text" class="form-control" id="formEfternavn">
                                    </div>
                                    <div class="form-group">
                                        <label for="formVej">Vej/Husnummer*</label>
                                        <input type="text" class="form-control" id="formVej">
                                    </div>
                                    <div class="form-group">
                                        <label for="formAdressetillæg">Adressetillæg</label>
                                        <input type="text" class="form-control" id="formAdressetillæg">
                                    </div>
                                    <div class="form-group">
                                        <label for="formPostnummer">Postnummer*</label>
                                        <input type="text" class="form-control" id="formPostnummer">
                                    </div>
                                    <div class="form-group">
                                        <label for="formBy">By*</label>
                                        <input type="text" class="form-control" id="formBy">
                                    </div>
                                    <div class="form-group">
                                        <label for="formLand">Land</label>
                                        <input type="text" class="form-control" id="formLand">
                                    </div>
                                    <div class="form-group">
                                        <label for="formTelefonnummer">Telefonnummer*</label>
                                        <input type="text" class="form-control" id="formTelefonnummer">
                                    </div>
                                    <button type="submit" class="btn btn-primary">Gem</button>
                                    <small class="form-text text-muted">*Indtasting er nødvendig</small>
                                </form>
														</div>
														<div class="register-form-table col-md-12 col-lg-8 float-right">
															<div>
																	<table class="table table-striped">
																			<thead>
																					<tr>
																							<th scope="col">Kundetype</th>
																							<th scope="col">Firma</th>
																							<th scope="col">Fornavn</th>
																							<th scope="col">Efternavn</th>
																							<th scope="col">Mere</th>
																					</tr>
																			</thead>
																			<tbody>
																					<tr>
																							<td>Private Person</td>
																							<td>Umwelt</td>
																							<td>John</td>
																							<td>Smith</td>
																							<td><button type="submit" class="btn">Mere</button></td>
																					</tr>
																					<tr>
																							<td>Private Person</td>
																							<td>Umwelt</td>
																							<td>John</td>
																							<td>Smith</td>
																							<td><button type="submit" class="btn">Mere</button></td>
																					</tr>
																			</tbody>
																	</table>
															</div>
													</div>
                        </div>
                    </div>


					<div class="col-12 float-left">
					    @@include('components/footers/_footer-logged-in.html')
				    </div>
				</div>
			</section>
		</div>
	</div>
</body>

@@include('htmlparts/_htmlend.html')



