@@include('htmlparts/_htmlstart.html')

<style>
	body {
		padding-top: 3.5rem;
	}

	body section {
		padding: 3.5rem 0;
		border-top: 1px solid #efefef;
	}

	body section:first-child {
		border-top: 0;
	}

	.starter-template {
		padding: 3rem 1.5rem;
		text-align: center;
	}

	.bd-example {
		padding: 1rem 0;
		margin-right: 0;
		margin-bottom: 0;
		margin-left: 0;
		border-width: .2rem;
	}

	.bd-example .btn,
	.bd-example .btn-group {
		margin-right: 10px;
	}

	.bd-example .dropdown {
		display: inline-block;
	}

	.bd-example .btn-group .btn {
		margin-right: 0;
	}

	.bd-example .text-div *:not(small) {
		margin-bottom: 2.5rem;
	}

	.bd-example .text-div {
		padding: 2rem 3.5rem;
		border-radius: 1rem;
	}

	.bg {
		min-height: 150px;
	}

	.bg .bg {
		min-height: 50px;
	}

	.lead.mb-0,
	.lead.mb-0+p {
		line-height: 1;
	}

</style>

<body>

	<nav class="navbar navbar-expand-md navbar-dark bg-light fixed-top">
		<div class="container">
			<a class="navbar-brand text-black" href="#">BordingCentral</a>
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link text-black" href="#"></a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<main role="main" class="container">

		<!-- Colour
    ================================================== -->
		<section id="colour">
			<div class="page-header">
				<h1 class="font-weight-bold">Colour</h1>
				<p>
					<small>Font - Source Sans Pro (Google Fonts)</small>
				</p>
			</div>

			<!-- Colour -->
			<div class="bd-example">
				<div class="row">
					<div class="col col-md-4 mb-4">
						<div class="row">
							<div class="col col-md-6">
								<div class="bg bg-primary"></div>
							</div>
							<div class="col col-md-6">
								<h3>Bording Blue</h3>
								<p>
									<small>#033353</small>
								</p>
							</div>
						</div>
					</div>
					<div class="col col-md-4 mb-4">
						<div class="row">
							<div class="col col-md-6">
								<div class="bg bg-secondary"></div>
							</div>
							<div class="col col-md-6">
								<h3>Mid Blue</h3>
								<p>
									<small>#1D78AA</small>
								</p>
							</div>
						</div>
					</div>
					<div class="col col-md-4 mb-4">
						<div class="row">
							<div class="col col-md-6">
								<div class="bg bg-info"></div>
							</div>
							<div class="col col-md-6">
								<h3>Light Blue</h3>
								<p>
									<small>#53C1FF</small>
								</p>
							</div>
						</div>
					</div>
					<div class="col col-md-4 mb-4">
						<div class="row">
							<div class="col col-md-6">
								<div class="bg bg-dark-grey"></div>
							</div>
							<div class="col col-md-6">
								<h3>Dark Grey</h3>
								<p>
									<small>#1B1B1B</small>
								</p>
							</div>
						</div>
					</div>
					<div class="col col-md-4 mb-4">
						<div class="row">
							<div class="col col-md-6">
								<div class="bg bg-mid-dark-grey"></div>
							</div>
							<div class="col col-md-6">
								<h3>Mid-Dark Grey</h3>
								<p>
									<small>#7B7B7B</small>
								</p>
							</div>
						</div>
					</div>
					<div class="col col-md-4 mb-4">
						<div class="row">
							<div class="col col-md-6">
								<div class="bg bg-mid-light-grey"></div>
							</div>
							<div class="col col-md-6">
								<h3>Mid-Light Grey</h3>
								<p>
									<small>#BCBCBC</small>
								</p>
							</div>
						</div>
					</div>
					<div class="col col-md-4 mb-4">
						<div class="row">
							<div class="col col-md-6">
								<div class="bg bg-light-grey"></div>
							</div>
							<div class="col col-md-6">
								<h3>Light Grey</h3>
								<p>
									<small>#F2F2F2</small>
								</p>
							</div>
						</div>
					</div>
					<div class="col col-md-4 mb-4">
						<div class="row">
							<div class="col col-md-6">
								<div class="bg">
									<div class="bg bg-success"></div>
									<div class="bg bg-warning"></div>
									<div class="bg bg-danger"></div>
								</div>
							</div>
							<div class="col col-md-6">
								<p class="lead mb-0">Success Green</p>
								<p>
									<small>#4A974A</small>
								</p>

								<p class="lead mb-0">Warning Yellow</p>
								<p>
									<small>#FFB54C</small>
								</p>

								<p class="lead mb-0">Alert Red</p>
								<p>
									<small>#D03935</small>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Colour
    ================================================== -->
		<section id="typography">
			<div class="page-header">
				<h1 class="font-weight-bold">Typography</h1>
				<p>
					<small>Font - Source Sans Pro (Google Fonts)</small>
				</p>
			</div>

			<!-- Headings & Paragraph Copy -->
			<div class="bd-example">
				<div class="row">
					<div class="col col-lg-6">
						<div class="text-div bg-light">
							<h1 class="font-weight-bold">H1 - This is a H1 heading.</h1>
							<h2>H2 - This is a H2 heading.</h2>
							<h3>H3 - This is a H3 heading.</h3>
							<h4>H4 - This is a H4 heading.</h4>
							<p class="lead">Body Lead - This is some lead body text.</p>
							<p>
								<strong>Body Bold - This is some bold body text.</strong>
							</p>
							<p>Body - This is some lead body text.</p>
							<label>Label - This is some label text.</label>
							<p>
								<small>Smallprint - This is some smallprint text.</small>
							</p>
						</div>
					</div>

					<div class="col col-lg-6">
						<div class="text-div bg-primary text-white">
							<h1 class="font-weight-bold">H1 - This is a H1 heading.</h1>
							<h2>H2 - This is a H2 heading.</h2>
							<h3>H3 - This is a H3 heading.</h3>
							<h4>H4 - This is a H4 heading.</h4>
							<p class="lead">Body Lead - This is some lead body text.</p>
							<p>
								<strong>Body Bold - This is some bold body text.</strong>
							</p>
							<p>Body - This is some lead body text.</p>
							<label>Label - This is some label text.</label>
							<p>
								<small>Smallprint - This is some smallprint text.</small>
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Buttons
    ================================================== -->
		<section id="buttons">
			<div class="page-header">
				<h1 class="font-weight-bold">Buttons</h1>
			</div>

			<div class="bd-example clearfix">
				<div class="mb-3">
					<button type="button" class="btn btn-primary">Primary</button>
					<button type="button" class="btn btn-secondary">Secondary</button>
					<button type="button" class="btn btn-info">Info</button>
					<button type="button" class="btn btn-success">Success</button>
					<button type="button" class="btn btn-warning">Warning</button>
					<button type="button" class="btn btn-danger">Danger</button>
					<button type="button" class="btn btn-link">Link</button>
				</div>
				<div class="mb-3">
					<button type="button" class="btn btn-outline-primary">Primary</button>
					<button type="button" class="btn btn-outline-secondary">Secondary</button>
					<button type="button" class="btn btn-outline-info">Info</button>
					<button type="button" class="btn btn-outline-success">Success</button>
					<button type="button" class="btn btn-outline-warning">Warning</button>
					<button type="button" class="btn btn-outline-danger">Danger</button>
				</div>
				<div class="mb-3">
					<button type="button" class="btn btn-lg btn-primary">Large Button</button>
					<button type="button" class="btn btn-lg btn-outline-primary">Large Button</button>
				</div>
				<div class="mb-3">
					<button type="button" class="btn btn-sm btn-primary">Primary</button>
					<button type="button" class="btn btn-sm btn-outline-secondary">Secondary</button>
				</div>
				<div class="mb-3">
					<div class="row">
						<div class="col col-md-6">
							<button type="button" class="btn btn-primary btn-lg btn-block">Block Large Button</button>
						</div>
					</div>
				</div>
				<div class="mb-3">
					<button type="button" class="btn btn-lg btn-primary disabled">Disabled Large Button</button>
					<button type="button" class="btn btn-lg btn-outline-primary disabled">Disabled Large Button</button>
				</div>
				<div class="mb-3">
					<div class="btn-group btn-group-toggle" data-toggle="buttons">
						<label class="btn btn-secondary active">
							<input type="checkbox" checked autocomplete="off"> Checkbox 1 (pre-checked)
						</label>
						<label class="btn btn-secondary">
							<input type="checkbox" autocomplete="off"> Checkbox 2
						</label>
						<label class="btn btn-secondary">
							<input type="checkbox" autocomplete="off"> Checkbox 3
						</label>
					</div>
				</div>

				<div>
					<div class="btn-group btn-group-toggle mb-3" data-toggle="buttons">
						<label class="btn btn-secondary active">
							<input type="radio" name="options" id="option1" autocomplete="off" checked> Radio 1 (preselected)
						</label>
						<label class="btn btn-secondary">
							<input type="radio" name="options" id="option2" autocomplete="off"> Radio 2
						</label>
						<label class="btn btn-secondary">
							<input type="radio" name="options" id="option3" autocomplete="off"> Radio 3
						</label>
					</div>
				</div>
			</div>
		</section>

		<!-- Button drop downs
    ================================================== -->

		<section id="button-drop-downs">
			<div class="page-header">
				<h1 class="font-weight-bold">Button drop downs</h1>
			</div>

			<div class="bd-example">

				<!-- Single button drop down -->

				<div class="mb-3">
					<p>
						<small>Single Button Dropdowns</small>
					</p>
					<div class="dropdown">
						<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
						  aria-expanded="false">
							Primary
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Dropdown Link</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Dropdown Link</a>
						</div>
					</div>
					<div class="dropdown">
						<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
						  aria-expanded="false">
							Secondary
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Dropdown Link</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Dropdown Link</a>
						</div>
					</div>
					<div class="dropdown">
						<button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
						  aria-expanded="false">
							Success
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Dropdown Link</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Dropdown Link</a>
						</div>
					</div>
					<div class="dropdown">
						<button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
						  aria-expanded="false">
							Info
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Dropdown Link</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Dropdown Link</a>
						</div>
					</div>
					<div class="dropdown">
						<button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
						  aria-expanded="false">
							Warning
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Dropdown Link</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Dropdown Link</a>
						</div>
					</div>
					<div class="dropdown">
						<button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
						  aria-expanded="false">
							Danger
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Dropdown Link</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Dropdown Link</a>
						</div>
					</div>
				</div>


				<!-- Split button drop down -->

				<div class="mb-3">
					<p>
						<small>Split Button Dropdowns</small>
					</p>
					<div class="btn-group">
						<button type="button" class="btn btn-primary">Primary</button>
						<button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true"
						  aria-expanded="false">
							<span class="sr-only">Toggle Dropdown</span>
						</button>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<a class="dropdown-item" href="#">Something else here</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Separated link</a>
						</div>
					</div>
					<div class="btn-group">
						<button type="button" class="btn btn-outline-secondary">Secondary</button>
						<button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true"
						  aria-expanded="false">
							<span class="sr-only">Toggle Dropdown</span>
						</button>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<a class="dropdown-item" href="#">Something else here</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Separated link</a>
						</div>
					</div>
					<div class="btn-group">
						<button type="button" class="btn btn-success">Success</button>
						<button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true"
						  aria-expanded="false">
							<span class="sr-only">Toggle Dropdown</span>
						</button>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<a class="dropdown-item" href="#">Something else here</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Separated link</a>
						</div>
					</div>
					<div class="btn-group">
						<button type="button" class="btn btn-info">Info</button>
						<button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true"
						  aria-expanded="false">
							<span class="sr-only">Toggle Dropdown</span>
						</button>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<a class="dropdown-item" href="#">Something else here</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Separated link</a>
						</div>
					</div>
					<div class="btn-group">
						<button type="button" class="btn btn-warning">Warning</button>
						<button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true"
						  aria-expanded="false">
							<span class="sr-only">Toggle Dropdown</span>
						</button>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<a class="dropdown-item" href="#">Something else here</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Separated link</a>
						</div>
					</div>
					<div class="btn-group">
						<button type="button" class="btn btn-danger">Danger</button>
						<button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true"
						  aria-expanded="false">
							<span class="sr-only">Toggle Dropdown</span>
						</button>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<a class="dropdown-item" href="#">Something else here</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Separated link</a>
						</div>
					</div>
				</div>

				<div class="mb-3">
					<p>
						<small>Sizing</small>
					</p>

					<div class="mb-3">
						<div class="dropdown">
							<button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
							  aria-expanded="false">
								Large Button
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" href="#">Action</a>
								<a class="dropdown-item" href="#">Dropdown Link</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Dropdown Link</a>
							</div>
						</div>
						<div class="dropdown">
							<button class="btn btn-lg btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
							  aria-haspopup="true" aria-expanded="false">
								Large Button
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" href="#">Action</a>
								<a class="dropdown-item" href="#">Dropdown Link</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Dropdown Link</a>
							</div>
						</div>
					</div>
					<div class="mb-3">
						<div class="dropdown">
							<button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
							  aria-expanded="false">
								Small
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" href="#">Action</a>
								<a class="dropdown-item" href="#">Dropdown Link</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Dropdown Link</a>
							</div>
						</div>
						<div class="dropdown">
							<button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
							  aria-haspopup="true" aria-expanded="false">
								Small
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" href="#">Action</a>
								<a class="dropdown-item" href="#">Dropdown Link</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Dropdown Link</a>
							</div>
						</div>
					</div>
				</div>
				<div class="mb-3">
					<p>
						<small>Dropup Variation</small>
					</p>
					<div class="mb-3">
						<div class="btn-group dropup">
							<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
							  aria-expanded="false">
								Primary
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" href="#">Action</a>
								<a class="dropdown-item" href="#">Dropup Link</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Dropup Link</a>
							</div>
						</div>
						<div class="btn-group dropup">
							<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
							  aria-expanded="false">
								Secondary
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" href="#">Action</a>
								<a class="dropdown-item" href="#">Dropup Link</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Dropup Link</a>
							</div>
						</div>
						<div class="btn-group dropup">
							<button type="button" class="btn btn-primary">Primary</button>
							<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span class="sr-only">Toggle Dropdown</span>
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" href="#">Action</a>
								<a class="dropdown-item" href="#">Dropup Link</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Dropup Link</a>
							</div>
						</div>
						<div class="btn-group dropup">
							<button type="button" class="btn btn-outline-secondary">Secondary</button>
							<button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span class="sr-only">Toggle Dropdown</span>
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" href="#">Action</a>
								<a class="dropdown-item" href="#">Dropup Link</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">Dropup Link</a>
							</div>
						</div>
					</div>
				</div>
			</div>

		</section>

		<!-- Forms
    ================================================== -->
		<section id="forms">
			<div class="page-header">
				<h1 class="font-weight-bold">Forms</h1>
			</div>

			<div class="bd-example">
				<div class="row">
					<div class="col col-md-6">
						<p>
							<small>Input</small>
						</p>
						<div class="input-group mb-3">
							<input class="form-control-lg form-control" type="text" placeholder="Large input">
						</div>
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text bg-light" id="basic-addon1">@</span>
							</div>
							<input type="text" class="form-control" placeholder="Normal input with icon" aria-describedby="basic-addon1">
						</div>
						<div class="input-group mb-3">
							<input class="form-control-sm form-control" type="text" placeholder="Small input">
						</div>
						<div class="input-group mb-3">
							<input class="form-control form-control" type="text" placeholder="Normal input active" autofocus>
						</div>

						<p>
							<small>Select</small>
						</p>
						<div class="form-group mb-3">
							<select class="custom-select form-control">
								<option value="1" selected>1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
							</select>
						</div>

						<p>
							<small>Text Area</small>
						</p>

						<div class="form-group mb-3">
							<textarea class="form-control" rows="5"></textarea>
						</div>

						<p>
							<small>File input</small>
						</p>
						<form>
							<div class="form-group">
								<input type="file" class="form-control-file">
							</div>
						</form>
					</div>

					<div class="col col-md-6">
						<p>
							<small>Input</small>
						</p>
						<div class="form-group valid">
							<input type="text" class="form-control-lg form-control is-valid" placeholder="Large input success">
						</div>
						<div class="form-group">
							<input type="text" class="form-control form-control is-invalid" placeholder="Normal input danger">
						</div>

						<p>
							<small>Checkboxes and radios</small>
						</p>
						<div class="row">
							<div class="col col-md-6">
								<div class="form-check mb-0">
									<div class="custom-control custom-checkbox mr-sm-2 mb-2">
										<input type="checkbox" class="custom-control-input" id="customControlAutosizing">
										<label class="custom-control-label" for="customControlAutosizing">Checkbox</label>
									</div>
								</div>

								<div class="form-check mb-0">
									<div class="custom-control custom-checkbox mr-sm-2 mb-2">
										<input type="checkbox" class="custom-control-input" id="customControlAutosizing">
										<label class="custom-control-label" for="customControlAutosizing">Checkbox hover</label>
									</div>
								</div>

								<div class="form-check mb-0">
									<div class="custom-control custom-checkbox mr-sm-2 mb-2">
										<input type="checkbox" class="custom-control-input" id="customControlAutosizing" checked>
										<label class="custom-control-label" for="customControlAutosizing">Checkbox checked</label>
									</div>
								</div>

								<div class="form-check mb-0">
									<div class="custom-control custom-checkbox mr-sm-2 mb-2">
										<input type="checkbox" class="custom-control-input" id="customControlAutosizing" disabled>
										<label class="custom-control-label" for="customControlAutosizing">Checkbox disabled</label>
									</div>
								</div>

								<div class="form-check mb-0">
									<div class="custom-control custom-checkbox mr-sm-2 mb-2">
										<input type="checkbox" class="custom-control-input" id="customControlAutosizing" checked disabled>
										<label class="custom-control-label" for="customControlAutosizing">Checkbox checked disabled</label>
									</div>
								</div>
							</div>

							<div class="col col-md-6">
								<div class="form-check mb-0">
									<div class="custom-control custom-radio mb-2">
										<input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
										<label class="custom-control-label" for="customRadio1">Radio</label>
									</div>
								</div>

								<div class="form-check mb-0">
									<div class="custom-control custom-radio mb-2">
										<input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
										<label class="custom-control-label" for="customRadio2">Radio Hover</label>
									</div>
								</div>

								<div class="form-check mb-0">
									<div class="custom-control custom-radio mb-2">
										<input type="radio" id="customRadio3" name="customRadio" class="custom-control-input" checked>
										<label class="custom-control-label" for="customRadio3">Radio Checked</label>
									</div>
								</div>

								<div class="form-check mb-0">
									<div class="custom-control custom-radio mb-2">
										<input type="radio" id="customRadio4" name="customRadio" class="custom-control-input" disabled>
										<label class="custom-control-label" for="customRadio4">Radio Disabled</label>
									</div>
								</div>

								<div class="form-check mb-0">
									<div class="custom-control custom-radio mb-2">
										<input type="radio" id="customRadio5" name="customRadio" class="custom-control-input" disabled checked>
										<label class="custom-control-label" for="customRadio5">Radio Disabled Checked</label>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>

		</section>

		<!-- Pagination
    ================================================== -->
		<section id="pagination">
			<div class="page-header">
				<h1 class="font-weight-bold">Pagination</h1>
			</div>

			<div class="bd-example">

				<hr>

				<nav aria-label="Page navigation example">
					<ul class="pagination">
						<li class="page-item active">
							<a class="page-link" href="#">1</a>
						</li>
						<li class="page-item">
							<a class="page-link" href="#">2</a>
						</li>
						<li class="page-item">
							<a class="page-link" href="#">3</a>
						</li>
						<li class="page-item">
							<a class="page-link" href="#">4</a>
						</li>
						<li class="page-item">
							<a class="page-link" href="#">...</a>
						</li>
						<li class="page-item">
							<a class="page-link" href="#">12</a>
						</li>
						<li class="page-item">
							<a class="page-link" href="#">Next</a>
						</li>
					</ul>
				</nav>
			</div>
		</section>


		<!-- Tables
    ================================================== -->
		<section id="tables">
			<div class="page-header">
				<h1 class="font-weight-bold">Tables</h1>
			</div>

			<div class="bd-example">
				<div class="row">
					<div class="col col-md-10 mb-3">
						<table class="table">
							<thead class="thead-light">
								<tr>
									<th>Order #</th>
									<th>Date Purchased</th>
									<th>Status</th>
									<th>Total</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>12435253425234</td>
									<td>August 08, 2017</td>
									<td class="text-warning">Delayed</td>
									<td>760.50kr.</td>
								</tr>
								<tr>
									<td>12435253425234</td>
									<td>August 08, 2017</td>
									<td class="text-success">Delivered</td>
									<td>760.50kr.</td>
								</tr>
								<tr>
									<td>12435253425234</td>
									<td>August 08, 2017</td>
									<td class="text-danger">Canceled</td>
									<td>760.50kr.</td>
								</tr>
								<tr>
									<td>12435253425234</td>
									<td>August 08, 2017</td>
									<td class="text-warning">Delayed</td>
									<td>760.50kr.</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</section>

		<!-- Tabs and Pills
    ================================================== -->

		<section id="tabs-and-pills">
			<div class="page-header">
				<h1 class="font-weight-bold">Tabs and Pills</h1>
			</div>

			<div class="bd-example">
				<div class="row">
					<div class="col col-md-6 mb-3">
						<p>
							<small>Tabs</small>
						</p>
						<ul class="nav nav-tabs">
							<li class="nav-item">
								<a class="nav-link active" data-toggle="tab" href="#active">Active</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#tab-hover">Tab Hover</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#messages">Messages</a>
							</li>
						</ul>
						<div class="tab-content p-3">
							<div id="active" class="tab-pane fade show active">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
									Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
									aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
									occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								</p>
							</div>
							<div id="tab-hover" class="tab-pane fade">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
									Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
									aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
									occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								</p>
							</div>
							<div id="messages" class="tab-pane fade">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
									Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
									aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
									occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								</p>
							</div>
						</div>
					</div>

					<div class="col col-md-6 mb-3">
						<p>
							<small>Pills</small>
						</p>
						<ul class="nav nav-pills mb-3">
							<li class="nav-item mr-2">
								<a class="nav-link active" data-toggle="tab" href="#active2">Pill Active</a>
							</li>
							<li class="nav-item mr-2">
								<a class="nav-link" data-toggle="tab" href="#tab-hover2">Pill Hover</a>
							</li>
							<li class="nav-item mr-2">
								<a class="nav-link" data-toggle="tab" href="#messages2">Hot Deals</a>
							</li>
						</ul>
						<div class="tab-content">
							<div id="active2" class="tab-pane fade show active">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
									Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
									aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
									occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								</p>
							</div>
							<div id="tab-hover2" class="tab-pane fade">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
									Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
									aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
									occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								</p>
							</div>
							<div id="messages2" class="tab-pane fade">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
									Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
									aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
									occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								</p>
							</div>
						</div>
					</div>

					<div class="col col-md-6 mb-3">
						<p>
							<small>Justified Tabs</small>
						</p>
						<ul class="nav nav-tabs nav-justified mb-3">
							<li class="nav-item">
								<a class="nav-link active" data-toggle="tab" href="#active3">Justified Active</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#tab-hover3">Justified Hover</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#messages3">Messages</a>
							</li>
						</ul>
						<div class="tab-content">
							<div id="active3" class="tab-pane fade show active">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
									Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
									aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
									occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								</p>
							</div>
							<div id="tab-hover3" class="tab-pane fade">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
									Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
									aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
									occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								</p>
							</div>
							<div id="messages3" class="tab-pane fade">
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
									Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
									aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
									occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								</p>
							</div>
						</div>
					</div>

					<div class="col col-md-3 mb-3">
						<p>
							<small>Vertical Pills</small>
						</p>
						<ul class="nav nav-pills flex-column">
							<li class="nav-item mb-2">
								<a class="nav-link active" data-toggle="tab" href="#">Vertical Pill Active</a>
							</li>
							<li class="nav-item mb-2">
								<a class="nav-link" data-toggle="tab" href="#">Vertical Pill Hover</a>
							</li>
							<li class="nav-item mb-2">
								<a class="nav-link" data-toggle="tab" href="#">Hot Deals</a>
							</li>
						</ul>
					</div>
				</div>

			</div>

		</section>

		<!-- Accordion
    ================================================== -->
		<section id="accordion">
			<div class="page-header">
				<h1 class="font-weight-bold">Accordion</h1>
			</div>

			<div class="bd-example">
				<div class="row">
					<div class="col col-md-6">
						<div role="tablist" aria-multiselectable="true">
							<div class="card mb-1">
								<div class="card-header " role="tab" id="headingOne">
									<a class="text-black font-weight-bold" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"
									  aria-controls="collapseOne">
										Collapsible Group Item #1
									</a>
								</div>

								<div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
									<div class="card-block">
										<div class="card-body">
											Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
											non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
											sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
											craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
											occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
											labore sustainable VHS.
										</div>
									</div>
								</div>
							</div>
							<div class="card mb-1">
								<div class="card-header" role="tab" id="headingTwo">
									<a class="collapsed text-black font-weight-bold" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
									  aria-controls="collapseTwo">
										Collapsible Group Item #2
									</a>
								</div>
								<div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
									<div class="card-block">
										<div class="card-body">
											Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
											non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
											sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
											craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
											occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
											labore sustainable VHS.
										</div>
									</div>
								</div>
							</div>
							<div class="card mb-1">
								<div class="card-header" role="tab" id="headingThree">
									<a class="collapsed text-black font-weight-bold" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false"
									  aria-controls="collapseThree">
										Collapsible Group Item #3
									</a>
								</div>
								<div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
									<div class="card-body">
										Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
										non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
										aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
										craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
										occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
										labore sustainable VHS.
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col col-md-6">
						<div role="tablist" aria-multiselectable="true">
							<div class="card mb-1">
								<div class="card-header" role="tab" id="headingFour">
									<a class="text-black font-weight-bold" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true"
									  aria-controls="collapseFour">
										Collapsible Group Item #4
									</a>
								</div>
								<div id="collapseFour" class="collapse show" role="tabpanel" aria-labelledby="headingFour">
									<div class="card-block">
										<div class="card-body">
											Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
											non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
											sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
											craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
											occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
											labore sustainable VHS.
										</div>
									</div>
								</div>
							</div>
							<div class="card mb-1">
								<div class="card-header" role="tab" id="headingFive">
									<a class="collapsed text-black font-weight-bold" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false"
									  aria-controls="collapseFive">
										Collapsible Group Item #5
									</a>
								</div>
								<div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
									<div class="card-block">
										<div class="card-body">
											Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
											non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
											sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
											craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
											occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
											labore sustainable VHS.
										</div>
									</div>
								</div>
							</div>
							<div class="card mb-1">
								<div class="card-header" role="tab" id="headingSix">
									<a class="collapsed text-black font-weight-bold" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false"
									  aria-controls="collapseSix">
										Collapsible Group Item #6
									</a>
								</div>
								<div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix">
									<div class="card-body">
										Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
										non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt
										aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
										craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
										occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
										labore sustainable VHS.
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</section>

		<!-- Image Carousel
    ================================================== -->
		<section id="carousel">
			<div class="page-header">
				<h1 class="font-weight-bold">Image Carousel</h1>
			</div>

			<div class="bd-example col-md-10">
				<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
					</ol>
					<div class="carousel-inner" role="listbox">
						<div class="carousel-item active">
							<img class="d-block img-fluid" src="assets/images/carousel_bg.png" alt="First slide">
						</div>
						<div class="carousel-item">
							<img class="d-block img-fluid" src="assets/images/carousel_bg.png" alt="Second slide">
						</div>
						<div class="carousel-item">
							<img class="d-block img-fluid" src="assets/images/carousel_bg.png" alt="Third slide">
						</div>
					</div>
					<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
		</section>
	</main>

</body>

@@include('htmlparts/_htmlend.html')
