@@include('htmlparts/_htmlstart.html')

<body class="h-100 bg-light-grey">
	<div class="container-fluid h-100">
		<div class="h-100">
			@@include('components/_sidebar.html')
			<section id="main-content" class="h-100 js-main-content">
				<div class="container d-flex flex-column justify-content-between">

					@@include('components/headers/_header-logged-in.html')

					<div class="row my-4">

							<div class="box col-4">
								<div class="box__header">
									<h4>Template</h4>
								</div>
								<div class="box__content">
									<div class="row grid-view">
											<div class="row">
													<div class="col-12 row template-output">
														<div class="col-12 col-sm-6 col-md-4 col-lg-4 p-5"></div>
														<div class="col-12 col-sm-6 col-md-4 col-lg-4 p-5"></div>
													</div>
												</div>
									</div>
								</div>
							</div>

							<div class="box col-4">
									<div class="box__header">
										<h4>Template</h4>
									</div>
									<div class="box__content">
										<div class="row grid-view">
												<div class="row">
														<div class="col-12 row template-output">
															<div class="col-12 col-sm-6 col-md-4 col-lg-4 p-5"></div>
															<div class="col-12 col-sm-6 col-md-4 col-lg-4 p-5"></div>
														</div>
													</div>
										</div>
									</div>
								</div>

								<div class="box col-4">
										<div class="box__header">
											<h4>Template</h4>
										</div>
										<div class="box__content">
											<div class="row grid-view">
													<div class="row">
															<div class="col-12 row template-output">
																<div class="col-12 col-sm-6 col-md-4 col-lg-4 p-5"></div>
																<div class="col-12 col-sm-6 col-md-4 col-lg-4 p-5"></div>
															</div>
														</div>
											</div>
										</div>
									</div>

					</div>

					<div class="row my-4">

							<div class="box col-4">
								<div class="box__header">
									<h4>Template</h4>
								</div>
								<div class="box__content">
									<div class="row grid-view">
											<div class="row">
													<div class="col-12 row template-output">
														<div class="col-12 col-sm-6 col-md-4 col-lg-4 p-5"></div>
														<div class="col-12 col-sm-6 col-md-4 col-lg-4 p-5"></div>
													</div>
												</div>
									</div>
								</div>
							</div>

							<div class="box col-4">
									<div class="box__header">
										<h4>Template</h4>
									</div>
									<div class="box__content">
										<div class="row grid-view">
												<div class="row">
														<div class="col-12 row template-output">
															<div class="col-12 col-sm-6 col-md-4 col-lg-4 p-5"></div>
															<div class="col-12 col-sm-6 col-md-4 col-lg-4 p-5"></div>
														</div>
													</div>
										</div>
									</div>
								</div>

								<div class="box col-4">
										<div class="box__header">
											<h4>Template</h4>
										</div>
										<div class="box__content">
											<div class="row grid-view">
													<div class="row">
															<div class="col-12 row template-output">
																<div class="col-12 col-sm-6 col-md-4 col-lg-4 p-5"></div>
																<div class="col-12 col-sm-6 col-md-4 col-lg-4 p-5"></div>
															</div>
														</div>
											</div>
										</div>
									</div>

					</div>

										<div class="row my-4">

							<div class="box col-4">
								<div class="box__header">
									<h4>Template</h4>
								</div>
								<div class="box__content">
									<div class="row grid-view">
											<div class="row">
													<div class="col-12 row template-output">
														<div class="col-12 col-sm-6 col-md-4 col-lg-4 p-5"></div>
														<div class="col-12 col-sm-6 col-md-4 col-lg-4 p-5"></div>
													</div>
												</div>
									</div>
								</div>
							</div>

							<div class="box col-4">
									<div class="box__header">
										<h4>Template</h4>
									</div>
									<div class="box__content">
										<div class="row grid-view">
												<div class="row">
														<div class="col-12 row template-output">
															<div class="col-12 col-sm-6 col-md-4 col-lg-4 p-5"></div>
															<div class="col-12 col-sm-6 col-md-4 col-lg-4 p-5"></div>
														</div>
													</div>
										</div>
									</div>
								</div>

								<div class="box col-4">
										<div class="box__header">
											<h4>Template</h4>
										</div>
										<div class="box__content">
											<div class="row grid-view">
													<div class="row">
															<div class="col-12 row template-output">
																<div class="col-12 col-sm-6 col-md-4 col-lg-4 p-5"></div>
																<div class="col-12 col-sm-6 col-md-4 col-lg-4 p-5"></div>
															</div>
														</div>
											</div>
										</div>
									</div>

					</div>


					@@include('components/footers/_footer-logged-in.html')
				</div>

			</section>
		</div>
	</div>
</body>

@@include('htmlparts/_htmlend.html')
