@@include('htmlparts/_htmlstart.html')

<body class="h-100 bg-light-grey">
	<div class="container-fluid h-100">
		<div class="row h-100">
			<section id="main-content" class="h-100 col">
				<div class="container d-flex flex-column">
					@@include('components/headers/_header-logged-in.html')
					@@include('components/_template-input.html')
						<div class="box">
							<div class="box col-12 p-0">
								<div class="box__header">
									<div class="row col-12 align-items-center">
										<button type="submit" class="col-3 btn btn-secondary">Save</button>
										<div class="ml-5 mt-3">
											<a class="px-3" href="/faq-and-contact.html"><i data-feather="corner-down-left"></i></a>
											<a class="px-3" href="/faq-and-contact.html"><i data-feather="corner-down-right"></i></a>
											<a class="px-3 temp-input-print" id="temp-input-print"><i data-feather="printer"></i></a>
										</div>
									</div>
								</div>
								<div class="box__content">
									<div class="row">
										<div class="col-12 row template-output">
											<div class="col-12 col-sm-6 col-md-4 col-lg-4 border p-5">

											</div>
											<div class="col-12 col-sm-6 col-md-4 col-lg-4 p-5 float-right"></div>
											<div class="col-12 col-sm-6 col-md-4 col-lg-4 border p-5">

											</div>
										</div>
										<div class="col-12 row py-5"></div>
										<div class="col-12 row template-output">
											<div class="col-12 col-sm-6 col-md-8 col-lg-8 p-5 border">

											</div>
											<div class="col-12 col-sm-6 col-md-2 col-lg-2 p-5"></div>
											<div class="col-12 col-sm-6 col-md-2 col-lg-2 p-5 border">

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="align-items-right float-right">
								<button href="/" class="col-2 float-right btn btn-primary mt-3">Exit Template</button>
						</div>
						<div class="col-12 float-left">
							@@include('components/footers/_footer-logged-in.html')
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</body>

<script>
	//
</script>

@@include('htmlparts/_htmlend.html')
