@@include('htmlparts/_htmlstart.html')

<body class="h-100 bg-light-grey">
	<div class="container-fluid h-100">
		<div class="h-100">
			@@include('components/_sidebar.html')
			<section id="main-content" class="h-100 js-main-content">
				<div class="container d-flex flex-column justify-content-between">
					@@include('components/headers/_header-logged-in.html')

					<div class="box">
						<div class="box__header">
							<form data-drupal-selector="views-exposed-form-faqs-faq-default" action="https://dev.bordingcentral.dk/en/faqs" method="get"
							  id="views-exposed-form-faqs-faq-default" accept-charset="UTF-8" _lpchecked="1">
								<div class="row">
									<div class="m-0 col-8 col-md-9">
										<label for="edit-question" class="d-none">Search</label>
										<div class="input-group">
											<div class="input-group-prepend">
												<span class="input-group-text bg-light-grey" id="basic-addon1">
													<i data-feather="search"></i>
												</span>
											</div>
											<input 0="invisible" data-drupal-selector="edit-question" type="text" id="edit-question" name="question" value="" size="30"
											  maxlength="128" placeholder="Search frequently asked question.." class="form-control" aria-describedby="basic-addon1">
										</div>
									</div>
									<div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper col pl-0" id="edit-actions">
										<input class="btn btn-primary js-form-submit form-submit btn-block" data-drupal-selector="edit-submit-order-history" type="submit"
										  id="edit-submit-order-history" value="Search">
									</div>
								</div>
							</form>
						</div>

						<div class="box__content pt-5">
							<div class="row">

								<div class="col-12 col-md-9">
									<div class="mb-4 mb-md-5">
										<h2 class="mb-3 mb-md-4">Terms & Conditions</h2>

										<strong>CONDITIONS OF USE</strong>
										<p>Welcome to our online store! Bording Central A/S and its associates provide their services to you subject to the following conditions. If you visit or shop within this website, you accept these conditions. Please read them carefully.</p>

										<strong>PRIVACY</strong>
										<p>Please review our Privacy Notice, which also governs your visit to our website, to understand our practices.</p>

										<strong>ELECTRONIC COMMUNICATIONS</strong>
										<p>When you visit Bording Central A/S or send e-mails to us, you are communicating with us electronically. You consent to receive communications from us electronically. We will communicate with you by e-mail or by posting notices on this site. You agree that all agreements, notices, disclosures and other communications that we provide to you electronically satisfy any legal requirement that such communications be in writing.</p>

										<strong>COPYRIGHT</strong>
										<p>All content included on this site, such as text, graphics, logos, button icons, images, audio clips, digital downloads, data compilations, and software, is the property of Bording Central A/S or its content suppliers and protected by international copyright laws. The compilation of all content on this site is the exclusive property of Bording Central A/S, with copyright authorship for this collection by Bording Central A/S, and protected by international copyright laws.</p>

										<strong>TRADE MARKS</strong>
										<p>Bording Central A/Ss trademarks and trade dress may not be used in connection with any product or service that is not Bording Central A/Ss, in any manner that is likely to cause confusion among customers, or in any manner that disparages or discredits Bording Central A/S. All other trademarks not owned by Bording Central A/S or its subsidiaries that appear on this site are the property of their respective owners, who may or may not be affiliated with, connected to, or sponsored by Bording Central A/S or its subsidiaries.</p>

										<strong>LICENSE AND SITE ACCESS</strong>
										<p>Bording Central A/S grants you a limited license to access and make personal use of this site and not to download (other than page caching) or modify it, or any portion of it, except with express written consent of Bording Central A/S. This license does not include any resale or commercial use of this site or its contents: any collection and use of any product listings, descriptions, or prices: any derivative use of this site or its contents: any downloading or copying of account information for the benefit of another merchant: or any use of data mining, robots, or similar data gathering and extraction tools. This site or any portion of this site may not be reproduced, duplicated, copied, sold, resold, visited, or otherwise exploited for any commercial purpose without express written consent of Bording Central A/S. You may not frame or utilize framing techniques to enclose any trademark, logo, or other proprietary information (including images, text, page layout, or form) of Bording Central A/S and our associates without express written consent. You may not use any meta tags or any other "hidden text" utilizing Bording Central A/Ss name or trademarks without the express written consent of Bording Central A/S. Any unauthorized use terminates the permission or license granted by Bording Central A/S. You are granted a limited, revocable, and nonexclusive right to create a hyperlink to the home page of Bording Central A/S so long as the link does not portray Bording Central A/S, its associates, or their products or services in a false, misleading, derogatory, or otherwise offensive matter. You may not use any Bording Central A/S logo or other proprietary graphic or trademark as part of the link without express written permission.</p>

										<strong>YOUR MEMBERSHIP ACCOUNT</strong>
										<p>If you use this site, you are responsible for maintaining the confidentiality of your account and password and for restricting access to your computer, and you agree to accept responsibility for all activities that occur under your account or password. If you are under 18, you may use our website only with involvement of a parent or guardian. Bording Central A/S and its associates reserve the right to refuse service, terminate accounts, remove or edit content, or cancel orders in their sole discretion.</p>

										<strong>REVIEWS, COMMENTS, EMAILS, AND OTHER CONTENT</strong>
										<p>Visitors may post reviews, comments, and other content: and submit suggestions, ideas, comments, questions, or other information, so long as the content is not illegal, obscene, threatening, defamatory, invasive of privacy, infringing of intellectual property rights, or otherwise injurious to third parties or objectionable and does not consist of or contain software viruses, political campaigning, commercial solicitation, chain letters, mass mailings, or any form of "spam." You may not use a false e-mail address, impersonate any person or entity, or otherwise mislead as to the origin of a card or other content. Bording Central A/S reserves the right (but not the obligation) to remove or edit such content, but does not regularly review posted content. If you do post content or submit material, and unless we indicate otherwise, you grant Bording Central A/S and its associates a nonexclusive, royalty-free, perpetual, irrevocable, and fully sublicensable right to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, and display such content throughout the world in any media. You grant Bording Central A/S and its associates and sublicensees the right to use the name that you submit in connection with such content, if they choose. You represent and warrant that you own or otherwise control all of the rights to the content that you post: that the content is accurate: that use of the content you supply does not violate this policy and will not cause injury to any person or entity: and that you will indemnify Bording Central A/S or its associates for all claims resulting from content you supply. Bording Central A/S has the right but not the obligation to monitor and edit or remove any activity or content. Bording Central A/S takes no responsibility and assumes no liability for any content posted by you or any third party.</p>

										<strong>RISK OF LOSS</strong>
										<p>All items purchased from Bording Central A/S are made pursuant to a shipment contract. This basically means that the risk of loss and title for such items pass to you upon our delivery to the carrier.</p>

										<strong>PRODUCT DESCRIPTIONS</strong>
										<p>Bording Central A/S and its associates attempt to be as accurate as possible. However, Bording Central A/S does not warrant that product descriptions or other content of this site is accurate, complete, reliable, current, or error-free. If a product offered by Bording Central A/S itself is not as described, your sole remedy is to return it in unused condition.</p>

										<strong>DISCLAIMER OF WARRANTIES AND LIMITATION OF LIABILITY THIS SITE IS PROVIDED BY Bording Central A/S ON AN "AS IS" AND "AS AVAILABLE" BASIS. Bording Central A/S MAKES NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED, AS TO THE OPERATION OF THIS SITE OR THE INFORMATION, CONTENT, MATERIALS, OR PRODUCTS INCLUDED ON THIS SITE. YOU EXPRESSLY AGREE THAT YOUR USE OF THIS SITE IS AT YOUR SOLE RISK. TO THE FULL EXTENT PERMISSIBLE BY APPLICABLE LAW, Bording Central A/S DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. Bording Central A/S DOES NOT WARRANT THAT THIS SITE, ITS SERVERS, OR E-MAIL SENT FROM Bording Central A/S ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. Bording Central A/S WILL NOT BE LIABLE FOR ANY DAMAGES OF ANY KIND ARISING FROM THE USE OF THIS SITE, INCLUDING, BUT NOT LIMITED TO DIRECT, INDIRECT, INCIDENTAL, PUNITIVE, AND CONSEQUENTIAL DAMAGES. CERTAIN STATE LAWS DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES OR THE EXCLUSION OR LIMITATION OF CERTAIN DAMAGES. IF THESE LAWS APPLY TO YOU, SOME OR ALL OF THE ABOVE DISCLAIMERS, EXCLUSIONS, OR LIMITATIONS MAY NOT APPLY TO YOU, AND YOU MIGHT HAVE ADDITIONAL RIGHTS.</strong><br><br>

										<strong>APPLICABLE LAW</strong>
										<p>By visiting Bording Central A/S, you agree that the laws of the state of Denmark, without regard to principles of conflict of laws, will govern these Conditions of Use and any dispute of any sort that might arise between you and Bording Central A/S or its associates.</p>

										<strong>DISPUTES</strong>
										<p>Any dispute relating in any way to your visit to Bording Central A/S or to products you purchase through Bording Central A/S shall be submitted to confidential arbitration in Denmark, except that, to the extent you have in any manner violated or threatened to violate Bording Central A/Ss intellectual property rights, Bording Central A/S may seek injunctive or other appropriate relief in any state or federal court in the state of Denmark, and you consent to exclusive jurisdiction and venue in such courts. Arbitration under this agreement shall be conducted under the rules then prevailing of the American Arbitration Association. The arbitrators award shall be binding and may be entered as a judgment in any court of competent jurisdiction. To the fullest extent permitted by applicable law, no arbitration under this Agreement shall be joined to an arbitration involving any other party subject to this Agreement, whether through class arbitration proceedings or otherwise.</p>

										<strong>SITE POLICIES, MODIFICATION, AND SEVERABILITY</strong>
										<p>Please review our other policies, such as our Shipping and Returns policy, posted on this site. These policies also govern your visit to Bording Central A/S. We reserve the right to make changes to our site, policies, and these Conditions of Use at any time. If any of these conditions shall be deemed invalid, void, or for any reason unenforceable, that condition shall be deemed severable and shall not affect the validity and enforceability of any remaining condition.</p>

										<strong>QUESTIONS:</strong>
										<p>Questions regarding our Conditions of Usage, Privacy Policy, or other policy related material can be directed to our support staff by clicking on the "Contact Us" link in the side menu. Or you can email us at: info@bordingcentralas.com</p>
								</div>
							</div>

							<div class="d-none d-md-flex col-3 col-md-3 text-right">
								@@include('components/_terms-nav.html')
							</div>

						</div>
					</div>

					@@include('components/footers/_footer-logged-in.html')
				</div>
			</section>
		</div>
	</div>
</body>

@@include('htmlparts/_htmlend.html')
