@@include('htmlparts/_htmlstart.html')

<body class="h-100 bg-light-grey">
	<div class="container-fluid h-100">
		<div class="h-100">
			@@include('components/_sidebar.html')
			<section id="main-content" class="h-100 js-main-content">
				<div class="container d-flex flex-column justify-content-between">
					@@include('components/headers/_header-logged-in.html')

					<div class="box">
						<div class="box__header">
							<h4 class="m-0">User Settings</h4>
						</div>
						<div class="box__content">
							<div class="row">
								<div class="col-12 col-lg-4 account">
									<div class="pb-3 mb-4 sticky">
										<h4 class="font-weight-bold mb-3 mb-md-4">Account</h4>
										@@include('components/user-settings-partials/_account.html')
									</div>
								</div>
								<div class="col-12 col-lg-8">
									<div class="update-profile border-bottom mb-4">
										<h4 class="font-weight-bold mb-3 mb-md-4">Profile</h4>
										@@include('components/user-settings-partials/_update-profile-form.html')
									</div>
									<div class="update-shipping border-bottom mb-4">
										<h4 class="font-weight-bold mb-3 mb-md-4">Shipping</h4>
										@@include('components/user-settings-partials/_update-shipping-form.html')
									</div>
									<div class="update-password mb-4">
										<h4 class="font-weight-bold mb-3 mb-md-4">Change Password</h4>
										@@include('components/user-settings-partials/_update-password-form.html')
									</div>
								</div>
							</div>
						</div>
					</div>
					@@include('components/footers/_footer-logged-in.html')
				</div>
			</section>
		</div>
	</div>
</body>

@@include('htmlparts/_htmlend.html')
