.account {
	@include media-breakpoint-up(lg) {
		border-right: 1px solid $border-color;
	}
	>div {
		border-bottom: 1px solid $border-color;
		@include media-breakpoint-up(lg) {
			border-bottom: 0;
			top: calc(1rem + #{$header-height});
		}
		.media {
			.media-img {
				width: 4em;
				@include media-breakpoint-up(lg) {
					width: 3em;
				}
			}
		}
	}
}
