.box {
	.box__header {
		background-color: lighten($light-grey, 3%);
		padding: map-get($spacers, 3);
		color: $dark-grey !important;

		@include media-breakpoint-up(md) {
			padding: map-get($spacers, 4) calc(#{$spacer}*2.25);	
		}	

		h4 {
			margin-bottom: 0;
		} 
	}

	.box__content {
		background-color: $white !important;
		padding: map-get($spacers, 3);

		@include media-breakpoint-up(md) {
			padding: map-get($spacers, 4) calc(#{$spacer}*2.25);	
		}
	}
}
