.breadcrumb {
    .breadcrumb-item {
        color: $gray-900;
        font-weight: $font-weight-light;
        &.active {
           font-weight: $font-weight-semibold;
           text-decoration: underline;
        }
    }   
}
