.carousel {
  margin-bottom: 37px;
}

.carousel-inner {
  .carousel-item {
    margin-left: $carousel-control-width;
    margin-right: $carousel-control-width;
    width: calc(100% - #{$carousel-control-width*2})
  }
}

.carousel-indicators {
  bottom: -37px;
  li {
    border-radius: 49%;
    background-color: $light-grey;
  }
}

.carousel-control-next,
.carousel-control-prev {
  opacity: 0.99; // 1 value for some reason not working??
  &:hover {
    opacity: 0.99; // 1 value for some reason not working??
  }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  position: relative;
  &:after {
    content: "";
    width: 46px;
    height: 46px;
    border-radius: 49%;
    background: $primary;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
}
