// Specific sizing of icons
.feather-file-text {
	width: 34px;
	height: 34px;
}

.feather-arrow-left,
.feather-arrow-right {
	width: 18px;
	height: 18px;
}

.contact-person {
	.feather {
		width: 16px;
		height: 16px;
		color: $info;
	}
}
