.landing-page {

    .top-categories {
        font-weight: $font-weight-semibold;
        a {
            &:hover {
                text-decoration: none;
			}
		}
		.active {
			color: $info;
		}
    }


    .top-categories,
    .sub-categories {
        a {
            color: $black;
            &:hover {
                color: $info;
			}
        }
    }
    .profile{
        padding: 0;
        .box__content{
            min-height: 560px;
        }
        &:nth-child(1){
            padding-right: 15px;
        }
        &:nth-child(2){
            padding-left: 15px;
        }
        input[type=submit]{
            margin-bottom: 1rem !important;
        }
    }

    .topCat{
        cursor: pointer;
    }
}
