#main-content {
    transition: left .35s ease-in-out, margin-left .35s ease-in-out;
    position: relative;
    left: 0;
    width: 100%;

    &.sticky-header > .container > .box {
        margin-top: calc(#{$header-height} - 0.5rem);
    }

    >div {
        padding: 0;
    }

    @include media-breakpoint-up(lg) { 
        margin-left: $nav-sidebar-width;
        width: calc(100% - #{$nav-sidebar-width});
    }
    
    > div {
        min-height: 100%;    
    }

    &.active {
        left: 100%;

        .main-header {
            left: 100%;
        }

        @include media-breakpoint-up(lg){
            left: auto;
            overflow: auto;
        }
    }
}

.main-header {
    padding: map-get($spacers, 1) 0; 
    margin-bottom: map-get($spacers, 2);
    transition: left .35s ease-in-out;
    &.sticky-header {
        padding: map-get($spacers, 1) map-get($spacers, 3);
        position: fixed;
        z-index: 1;
        background-color: $white;
        border-bottom: 1px solid $border-color;
        top: 0;
        width: 100%;
        left: 0;
        box-shadow:0 -6px 10px 2px $border-color;
        @include media-breakpoint-up('lg') {
            width: calc(100% - #{$nav-sidebar-width});
            left: $nav-sidebar-width;
        }
    }

    > div {
        width: 100%;
        max-width: map-get($container-max-widths, 'xs');
        margin: 0 auto;
    }

    .breadcrumb {
        font-size: $font-size-sm;
        @include media-breakpoint-up('lg'){
            font-size: $font-size-base;
        }
    }
}