.nav-tabs {
  &:not(.nav-justified) + .tab-content {
    background-color: $nav-tabs-link-active-bg;
    border: 1px solid $mid-light-grey;
    border-top: 0;
    border-bottom-left-radius: $border-radius-xs;
    border-bottom-right-radius: $border-radius-xs;
  }
  .nav-item:not(:last-child) {
    margin-right: 1px;
  }

  .nav-link {
    color: $black;
  }
}

.nav-pills {
  .nav-link {
    border: 1px solid transparent;
    color: $black;
    &:hover:not(.active) {
      border-color: $light-blue;
    }
  }

  .nav-link.active,
  .show > .nav-link {
    color: $nav-pills-link-active-color;
    background-color: $nav-pills-link-active-bg;
  }
}

.nav-justified {
  padding: 2px;
  border: 1px solid $nav-tabs-border-color;
  border-radius: $border-radius-xs;

  .nav-item {
    margin-bottom: 0;
  }

  .nav-link {
    border-radius: $border-radius-xs;
    &:hover:not(.active) {
      border: 1px solid $light-blue;
    }
    &.active {
      border: 1px solid transparent;
    }
  }
}
