// Added temporary news and icon styling for displaying purposes only (delete when implemented) - sib@umwelt.dk
.news-example {
	.media {
		min-height:300px;

		svg.feather {
			color:#ffffff;
			width:50px;
			height:auto;
		}
	}
}
