.product {
	&__media {
		border-bottom: 1px solid darken($light-grey, 10%);
		padding-bottom: map-get($spacers, 3);
		position: relative;
		.favorite-product {
			position: absolute;
			bottom: 7px;
			right: 7px;
			width: 28px;
			height: 28px;
			.feather-heart {
				transition: fill .25s ease-in-out;
				width: 16px;
				height: 16px;
			}
			&:hover .feather-heart,
			&.favorite .feather-heart {
				fill: $white;
			}
		}
		img {
			max-height: 18em;
		}
		@include media-breakpoint-up('md') {
			img {
				max-height: 14em;
			}
		}
		@include media-breakpoint-up('lg') {
			img {
				max-height: 9.5em;
			}
		}
	}
	&__content {
		flex-wrap: wrap;
		.heading {
			>a:not(.badge) {
				.title {
					margin-bottom: 0.15rem;
					color: $black;
					&:hover {
						text-decoration: underline;
					}
				}
			}
			.badge {
				font-size: 85%;
				font-weight: $font-weight-semibold;
			}
		}
		.product__cta {
			display: flex;
			flex-direction: column;
		}
	}
}

.product-overview {
	&.list-view {
		>div {
			display: block;
			flex: 1 0 100%;
			max-width: 100%;
			&+div>div {
				border-top: 1px solid $border-color;
				padding-top: map-get($spacers, 3);
				margin-top: map-get($spacers, 3);
			}
			.product {
				display: flex;
				&__media {
					border-bottom: 0;
					padding-bottom: 0;
					display: none;
					flex: 0 1 6em;
					margin-bottom: auto;
					@include media-breakpoint-up('sm') {
						display: block;
					}
				}
				&__content {
					display: flex;
					flex: 1 0 0;
					@include media-breakpoint-up('sm') {
						margin-left: map-get($spacers, 3);
					}
					.header {
						display: flex;
						justify-content: space-between;
						align-items: center;
						.heading {
							h6 {
								font-size: $font-size-lg;
							}
							.badge {
								margin-bottom: map-get($spacers, 1);
							}
						}
						.price {
							font-size: $font-size-lg;
							font-weight: $font-weight-normal;
						}
					}
				}
				.product__overview {
					flex: 0 1 auto;
					max-width: calc((100%/3) * 2);
				}
				.product__cta {
					flex: 0 1 0;
					margin-left: auto;
					align-items: flex-end;
					justify-content: flex-end;
					text-align: right;
				}
			}
		}
	}
	&.grid-view {
		.product {
			&:hover {
				@include media-breakpoint-up('sm') {
					position: absolute;
					background-color: $white;
					border-radius: 5px;
					border: 2px solid darken($light-grey, 10%);
					z-index: 1;
					transform: translateX(-50%);
					top: calc((-1rem - 2px));
					left: 50%;
					padding: map-get($spacers, 3);
					width: calc(100% + 5px);
					margin-top: 0;
				}
				.heading {
					.title {
						white-space: normal !important;
					}
				}
			}
			margin-bottom: map-get($spacers, 4);
			&__media {
				margin-bottom: map-get($spacers, 2);
			}
			&__content {
				.heading {
					text-align: center;
					.title {
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
					}
					.badge-wrapper {
						text-align: center;
						.badge {
							margin-bottom: map-get($spacers, 1);
						}
					}

				}
				.product__cta,
				.list__content {
					display: none;
				}
				.product__overview {
					flex: 0 0 100%;
				}
				.product__cta {
					flex: 0 0 100%;
				}
			}
		}
	}
}
