.product-configurator {
	.product-configurator-bullets {
		.feather {
			@include media-breakpoint-up('lg') {
				width: 30px;
                height: 30px;
                stroke-width: 1.4;
			}
		}
	}
}
