#sidebar {
	position: fixed;
	width: 100%;
	z-index: 3;
	height: 100vh;
	left: -100%;
	transition: left .35s ease-in-out;
	&.active {
		left: 0;
	}
	@include media-breakpoint-up(lg) {
		left: 0;
		width: $nav-sidebar-width;
		border-right: 1px solid rgba(0, 0, 0, 0.15);
	}
	.nav-main {
		border-top: 1px solid rgba(0, 0, 0, 0.15);
		overflow-y: auto;

		.btn {
			text-align: left;
		}

		a {
			text-decoration: none;
		}

		.view-all-btn, .full-view-list {
			display: none;
		}

		>.nav {
			>li {
				.btn {
					transition: none;
					border-radius: 0;
					width: 100%;
					&.active {
						background-color: $secondary;
					}
				}
				&:hover {
					background-color: rgba(0, 0, 0, 0.15);
				}
				&+li {
					border-top: 1px solid rgba(0, 0, 0, 0.15);
				}
				>ul div li {
					&:hover {
						background-color: rgba(0, 0, 0, 0.15);
					}
				}
			}
			.dropdown {
				.category-img {
					display: none;
				}

				>ul ul {
					margin-left: map-get($spacers, 2);
				}

				// Full view conditional styling
				&.full-view {
					@include media-breakpoint-up(lg) {

						.view-all-btn,
						.category-img {
							display: block;
						}

						.full-view-list {
							display: flex;
							flex-direction: column;
						}

						.view-all-btn {
							margin: map-get($spacers, 2) 0 map-get($spacers, 1) 0;
							& a:hover {
								text-decoration: underline;
							}
						}

						ul {
							margin-left: 0;
						}

						position: static;
						&:hover,
						&.active {
							background-color: none;
						}
						&.active {
							>ul {
								left: calc(100% + 1px);
							}
						}
						.category-img {
							margin: map-get($spacers, 2) 0;
						}
						>ul {
							z-index: -1;
							transition: left 0.5s ease-in-out;
							position: absolute;
							width: calc(100vw - #{$nav-sidebar-width});
							height: 100% !important;
							background-color: $primary;
							left: calc(-100vw + #{$nav-sidebar-width});
							top: 0;
							overflow-y: auto;

							.btn, li, .nav-link {
								padding-left: 0;
							}

							.btn {
								width: auto;
							}

							li {
								.dropdown-btn {
									display: none !important;
								}
							}
							>.d-flex {
								align-content: flex-start;
								flex-wrap: wrap;
								min-height: 100%;
								background-color: rgba(0, 0, 0, 0.15);
								padding: map-get($spacers, 4);
								flex-direction: row !important;
								> .nav-item {
									width: calc(33% - (#{$spacer}*2));
									margin: map-get($spacers, 1) map-get($spacers, 3);
									@include media-breakpoint-up(lg) {
										width: calc(25% - (#{$spacer}*2));
									}

									&.btn {
										padding: 0;
									}
								}
							}

							.nav-link {
								margin-left: 0;
							}

							>div>li {
								margin-bottom: map-get($spacers, 3);
								&>.nav-link,
								&.dropdown div .nav-link {
									font-size: $h5-font-size;
									font-weight: $font-weight-semibold;
								}
								ul {
									li {
										padding-top: 0;
										padding-bottom: 0;
									}
								}
							}

							&.collapse {
								display: block !important;
							}

							.collapse {
								display: flex;
								flex-direction: column;
							}
						}

						.dropdown-btn {
							transition: transform .25s ease-in-out;
							transform: rotate(-90deg) rotateX(0deg);
							&.active {
								transform: rotate(-90deg) rotateX(180deg);
							}
						}

						li:hover,
						li.active {
							background-color: transparent;
						}
					}
				}
				>div div a {
					font-weight: 500;
				}
				>ul li .nav-link {
					font-weight: 300;
					margin-left: 6px;
					padding-top: 0;
					padding-bottom: 0;
					font-size: 0.95rem;
				}
				&:hover,
				&.active {
					background-color: rgba(0, 0, 0, 0.15);
				}
			}
			.dropdown-btn {
				transition: transform .25s ease-in-out;
				transform: rotateX(0);
				&.active {
					transform: rotateX(180deg);
				}
			}
		}
	}
	.nav-bottom {
		background-color: lighten($primary, 15%);
	}
}
