.sub-categories {
    .sub-category {
        margin-bottom: map-get($spacers, 3);

        
        &__media {
            img {
                margin-right: map-get($spacers, 2);
                max-width: 4em;
            }
        }

        &__content {

        }
    }
}