
.template-input {
	position: fixed;
	height: 100vh;
	max-width: 400px;
	left: 0;
	padding: 0;
	overflow: auto;
}

.template-input-customize {
	overflow: auto;
	height: auto;
}

.template-input-form .form-control {
	line-height: 1.5;
}

select.form-control {
	-webkit-appearance: none;
}

.temp-input-print{
    color: $light-blue !important;
}

.template-output{
    margin: 0;
}

.box__print-clicked{
	display: none;
	width: 100%;
    max-width: 400px;
    height: 100vh;
    background-color: $white;
    position: absolute;
    top: 0;

    .btn-item-content{
        margin: 230px 0;
    }

    .close {
    position: absolute;
    right: 22px;
    top: 12px;
    width: 32px;
    height: 32px;
    opacity: 0.8;
        &:hover {
            opacity: 1;
        }
        &:before, &:after {
            position: absolute;
            left: 15px;
            content: ' ';
            height: 33px;
            width: 2px;
            background-color: $light-blue;
        }
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
        &:focus {
            outline:0;
        }
    }
}
