.no-underline {
    text-decoration: none !important;
}

.pointer {
    cursor: pointer !important;
}

.bg-darken {
    background-color: rgba(0,0,0,0.05);
}

.bg-lighten {
    background-color: rgba(255,255,255,0.05);
}

.sticky {
    position: sticky;
    top: calc(1rem + #{$header-height});
}

// a {
//     &:not([title]) {
//         outline: 1px solid red;
//     }
// }

// img {
//     &:not([alt])  {
//         outline: 1px solid red;
//     }
// }