<ul class="nav justify-content-around">
	<li class="nav-item">
		<a class="text-light d-flex align-items-center" href="./user-settings.html" title="User Settings">
			<i data-feather="settings"></i>
		</a>
	</li>

	<li class="nav-item">
		<a class="text-light d-flex align-items-center" href="/faq-and-contact.html" title="Contact / FAQ">
			<i data-feather="help-circle"></i>
		</a>
	</li>

	<li class="nav-item">
		<a class="text-light d-flex align-items-center" href="./frontpage.html" title="Log Out">
			<i data-feather="log-out"></i>
		</a>
	</li>
</ul>
