<ul class="nav flex-column">

	<li class="nav-item dropdown">
		<div class="btn d-flex justify-content-between align-items-center">
			<div class="d-flex align-items-center">
				<i data-feather="folder"></i>
				<a class="text-light nav-link" href="./product-overview.html" title="">Produkter
					<span class="badge badge-light font-weight-normal ml-2">3</span>
				</a>
			</div>
			<i class="dropdown-btn" data-feather="chevron-down" data-toggle="collapse" data-target="#two" aria-expanded="true" aria-controls="collapseOne"></i>
		</div>
		<ul id="two" class="collapse list-unstyled">
			<div class="d-flex flex-column">
				<li class="nav-item btn">
					<a class="text-light nav-link" href="#" title="">Example</a>
				</li>
				<li class="nav-item btn">
					<a class="text-light nav-link" href="#" title="">Example</a>
				</li>
				<li class="nav-item btn">
					<a class="text-light nav-link" href="#" title="">Example</a>
				</li>
			</div>
		</ul>
	</li>

	<li class="nav-item">
		<div class="btn">
			<div class="d-flex align-items-center">
				<i data-feather="folder"></i>
				<a class="text-light nav-link" href="#" title="">Templates</a>
			</div>
		</div>
	</li>

	<li class="nav-item dropdown full-view">
		<div class="btn d-flex justify-content-between align-items-center">
			<div class="d-flex align-items-center">
				<i data-feather="package"></i>
				<a class="text-light nav-link" href="./product-overview.html" title="">Stock
					<span class="badge badge-light font-weight-normal ml-2">100</span>
				</a>
			</div>
			<i class="dropdown-btn" data-feather="chevron-down" data-toggle="collapse" data-target="#one" aria-expanded="true" aria-controls="collapseOne"></i>
		</div>
		<ul id="one" class="collapse list-unstyled">
			<div class="d-flex flex-column">
				<li class="nav-item dropdown">
					<div class="category-img">
						<img src="assets/images/full-view-img-test.png" alt="" class="img-fluid">
					</div>
					<div class="btn d-flex justify-content-between align-items-center">
						<a class="text-light nav-link" href="#" title="">Prime Video</a>
						<i class="dropdown-btn" data-feather="chevron-down" data-toggle="collapse" data-target="#one-two" aria-expanded="true" aria-controls="collapseOne"></i>
					</div>
					<ul id="one-two" class="collapse list-unstyled">
						<li class="nav-item btn">
							<a class="text-light nav-link" href="#" title="">All videos</a>
						</li>
						<li class="nav-item btn">
							<a class="text-light nav-link" href="#" title="">Included with prime</a>
						</li>
						<li class="nav-item btn">
							<a class="text-light nav-link" href="#" title="">Amazon Channels</a>
						</li>
						<li class="nav-item btn">
							<a class="text-light nav-link" href="#" title="">Item 4</a>
						</li>
						<li class="nav-item btn">
							<a class="text-light nav-link" href="#" title="">Item 5</a>
						</li>
						<li class="nav-item view-all-btn">
							<a href="#" title="" class="d-flex align-items-center">
								<span class="mr-2">View All</span>
								<i data-feather="arrow-right"></i>
							</a>
						</li>
					</ul>
				</li>
				<li class="nav-item btn">
					<div class="category-img">
						<img src="assets/images/full-view-img-test.png" alt="" class="img-fluid">
					</div>
					<a class="text-light nav-link" href="#" title="">Kuverter</a>
					<ul class="list-unstyled full-view-list">
						<li class="nav-item btn">
							<a href="#" title="" class="text-light nav-link">Kuverter</a>
						</li>
					</ul>
				</li>
				<li class="nav-item btn">
					<div class="category-img">
						<img src="assets/images/full-view-img-test.png" alt="" class="img-fluid">
					</div>
					<a class="text-light nav-link" href="#" title="">POS</a>
					<ul class="list-unstyled full-view-list">
						<li class="nav-item btn">
							<a href="#" title="" class="text-light nav-link">POS</a>
						</li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<div class="category-img">
						<img src="assets/images/full-view-img-test.png" alt="" class="img-fluid">
					</div>
					<div class="btn d-flex justify-content-between align-items-center">
						<a class="text-light nav-link" href="#" title="">Time Cards</a>
						<i class="dropdown-btn" data-feather="chevron-down" data-toggle="collapse" data-target="#one-three" aria-expanded="true"
						  aria-controls="collapseOne"></i>
					</div>
					<ul id="one-three" class="collapse list-unstyled">
						<li class="nav-item btn">
							<a class="text-light nav-link" href="#" title="">Time Card Type 1</a>
						</li>
						<li class="nav-item btn">
							<a class="text-light nav-link" href="#" title="">Time Card Type 2</a>
						</li>
						<li class="nav-item btn">
							<a class="text-light nav-link" href="#" title="">Time Card Type 3</a>
						</li>
					</ul>
				</li>
				<li class="nav-item btn">
					<div class="category-img">
						<img src="assets/images/full-view-img-test.png" alt="" class="img-fluid">
					</div>
					<a class="text-light nav-link" href="#" title="">Kuverter</a>
					<ul class="list-unstyled full-view-list">
						<li class="nav-item btn">
							<a href="#" title="" class="text-light nav-link">Kuverter</a>
						</li>
					</ul>
				</li>
				<li class="nav-item btn">
					<div class="category-img">
						<img src="assets/images/full-view-img-test.png" alt="" class="img-fluid">
					</div>
					<a class="text-light nav-link" href="#" title="">POS</a>
					<ul class="list-unstyled full-view-list">
						<li class="nav-item btn">
							<a href="#" title="" class="text-light nav-link">POS</a>
						</li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<div class="category-img">
						<img src="assets/images/full-view-img-test.png" alt="" class="img-fluid">
					</div>
					<div class="btn d-flex justify-content-between align-items-center">
						<a class="text-light nav-link" href="#" title="">Time Cards</a>
						<i class="dropdown-btn" data-feather="chevron-down" data-toggle="collapse" data-target="#one-four" aria-expanded="true" aria-controls="collapseOne"></i>
					</div>
					<ul id="one-four" class="collapse list-unstyled">
						<li class="nav-item btn">
							<a class="text-light nav-link" href="#" title="">Time Card Type 1</a>
						</li>
						<li class="nav-item btn">
							<a class="text-light nav-link" href="#" title="">Time Card Type 2</a>
						</li>
						<li class="nav-item btn">
							<a class="text-light nav-link" href="#" title="">Time Card Type 3</a>
						</li>
						<li class="nav-item btn">
							<a class="text-light nav-link" href="#" title="">Time Card Type 4</a>
						</li>
					</ul>
				</li>
				<li class="nav-item btn">
					<div class="category-img">
						<img src="assets/images/full-view-img-test.png" alt="" class="img-fluid">
					</div>
					<a class="text-light nav-link" href="#" title="">Kuverter</a>
					<ul class="list-unstyled full-view-list">
						<li class="nav-item btn">
							<a href="#" title="" class="text-light nav-link">Kuverter</a>
						</li>
					</ul>
				</li>
				<li class="nav-item btn">
					<div class="category-img">
						<img src="assets/images/full-view-img-test.png" alt="" class="img-fluid">
					</div>
					<a class="text-light nav-link" href="#" title="">POS</a>
					<ul class="list-unstyled full-view-list">
						<li class="nav-item btn">
							<a href="#" title="" class="text-light nav-link">POS</a>
						</li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<div class="category-img">
						<img src="assets/images/full-view-img-test.png" alt="" class="img-fluid">
					</div>
					<div class="btn d-flex justify-content-between align-items-center">
						<a class="text-light nav-link" href="#" title="">Time Cards</a>
						<i class="dropdown-btn" data-feather="chevron-down" data-toggle="collapse" data-target="#one-five" aria-expanded="true" aria-controls="collapseOne"></i>
					</div>
					<ul id="one-five" class="collapse list-unstyled">
						<li class="nav-item btn">
							<a class="text-light nav-link" href="#" title="">Time Card Type 1</a>
						</li>
						<li class="nav-item btn">
							<a class="text-light nav-link" href="#" title="">Time Card Type 2</a>
						</li>
						<li class="nav-item btn">
							<a class="text-light nav-link" href="#" title="">Time Card Type 3</a>
						</li>
						<li class="nav-item btn">
							<a class="text-light nav-link" href="#" title="">Time Card Type 4</a>
						</li>
						<li class="nav-item btn">
							<a class="text-light nav-link" href="#" title="">Time Card Type 5</a>
						</li>
						<li class="nav-item view-all-btn">
							<a href="#" title="" class="d-flex align-items-center">
								<span class="mr-2">View All</span>
								<i data-feather="arrow-right"></i>
							</a>
						</li>
					</ul>
				</li>
				<li class="nav-item btn">
					<div class="category-img">
						<img src="assets/images/full-view-img-test.png" alt="" class="img-fluid">
					</div>
					<a class="text-light nav-link" href="#" title="">Kuverter</a>
					<ul class="list-unstyled full-view-list">
						<li class="nav-item btn">
							<a href="#" title="" class="text-light nav-link">Kuverter</a>
						</li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<div class="category-img">
						<img src="assets/images/full-view-img-test.png" alt="" class="img-fluid">
					</div>
					<div class="btn d-flex justify-content-between align-items-center">
						<a class="text-light nav-link" href="#" title="">Time Cards</a>
						<i class="dropdown-btn" data-feather="chevron-down" data-toggle="collapse" data-target="#one-six" aria-expanded="true" aria-controls="collapseOne"></i>
					</div>
					<ul id="one-six" class="collapse list-unstyled">
						<li class="nav-item btn">
							<a class="text-light nav-link" href="#" title="">Time Card Type 3</a>
						</li>
						<li class="nav-item btn">
							<a class="text-light nav-link" href="#" title="">Time Card Type 4</a>
						</li>
					</ul>
				</li>
			</div>
		</ul>
	</li>

	<li class="nav-item">
		<div class="btn">
			<div class="d-flex align-items-center">
				<i data-feather="book-open"></i>
				<a class="text-light nav-link" href="./order-history.html" title="">Order History</a>
			</div>
		</div>
	</li>

	<li class="nav-item">
		<div class="btn">
			<div class="d-flex align-items-center">
				<i data-feather="heart"></i>
				<a class="text-light nav-link" href="./product-overview.html" title="">Favorites</a>
			</div>
		</div>
	</li>
</ul>
