<div class="d-flex align-items-center justify-content-between" href="/">
	<a href="/" title="" class="h4 m-0 text-white font-weight-bold no-underline" >BordingCentral</a>
	<i class="js-close-sidebar d-lg-none pointer" data-feather="x"></i>
</div>
