<ul class="list-unstyled">
	<li class="mb-1">
		<a href="#category1" class="text-dark-grey font-weight-bold" data-toggle="collapse" data-parent="#accordion" rel="bookmark"
		  aria-expanded="false" aria-controls="collapseOne">
			<span>Getting Started</span>
		</a>
		<ul class="list-unstyled ml-3" id="category1" role="tabpanel" aria-labelledby="category1">
			<li class="py-1">
				<a href="./faq-details.html" class="text-dark-grey">FAQ question</a>
			</li>
			<li class="py-1">
				<a href="./faq-details.html" class="text-dark-grey">FAQ question</a>
			</li>
		</ul>
	</li>
	<li class="mb-1">
		<a href="#category2" class="text-dark-grey font-weight-bold collapsed" data-toggle="collapse" data-parent="#accordion" rel="bookmark"
		  aria-expanded="false" aria-controls="collapseOne">
			<span>Ordering products</span>
		</a>
		<ul class="list-unstyled collapse ml-3" id="category2" role="tabpanel" aria-labelledby="category2">
			<li class="py-1">
				<a href="./faq-details.html" class="text-dark-grey">FAQ question</a>
			</li>
		</ul>
	</li>
	<li class="mb-1">
		<a href="#category3" class="text-dark-grey font-weight-bold collapsed" data-toggle="collapse" data-parent="#accordion" rel="bookmark"
		  aria-expanded="false" aria-controls="collapseOne">
			<span>Shipping</span>
		</a>
		<ul class="list-unstyled collapse ml-3" id="category3" role="tabpanel" aria-labelledby="category3">
			<li class="py-1">
				<a href="./faq-details.html" class="text-dark-grey">FAQ question</a>
			</li>
			<li class="py-1">
				<a href="./faq-details.html" class="text-dark-grey">FAQ question</a>
			</li>
			<li class="py-1">
				<a href="./faq-details.html" class="text-dark-grey">FAQ question</a>
			</li>
			<li class="py-1">
				<a href="./faq-details.html" class="text-dark-grey">FAQ question</a>
			</li>
		</ul>
	</li>
	<li>
		<a href="#category4" class="text-dark-grey font-weight-bold collapsed" data-toggle="collapse" data-parent="#accordion" rel="bookmark"
		  aria-expanded="false" aria-controls="collapseOne">
			<span>Example Category</span>
		</a>
		<ul class="list-unstyled collapse ml-3" id="category4" role="tabpanel" aria-labelledby="category4">
			<li class="py-1">
				<a href="./faq-details.html" class="text-dark-grey">FAQ question</a>
			</li>
			<li class="py-1">
				<a href="./faq-details.html" class="text-dark-grey">FAQ question</a>
			</li>
			<li class="pt-1">
				<a href="./faq-details.html" class="text-dark-grey">FAQ question</a>
			</li>
		</ul>
	</li>
</ul>
