<nav id="sidebar" class="js-sidebar bg-primary text-white d-flex flex-column">
	<div class="p-3 nav-top bg-primary">
		@@include('components/sidebar-partials/_top.html')
	</div>
	<div class="nav-main bg-primary h-100">
		@@include('components/sidebar-partials/_main.html')
	</div>
	<div class="py-3 nav-bottom mt-auto">
		@@include('components/sidebar-partials/_bottom.html')
	</div>
</nav>
