
<div class="box col-4 template-input">
	<div class="box__header">
			<div class="d-flex align-items-center justify-content-between" href="/">
				<a href="/" title="" class="h4 m-0 text-primary font-weight-bold no-underline" >BordingCentral</a>
				<i class="js-close-sidebar d-lg-none pointer" data-feather="x"></i>
			</div>
	</div>
	<div class="box__content template-input-customize">
			<div class="row pb-4 mb-4 border-bottom">
					<div class="col-10">
							<h4 class="m-0">Customize Template</h4>
					</div>
					<div class="col-2 pt-2">
							<a class="float-right" href="/faq-and-contact.html"><i data-feather="help-circle"></i></a>
					</div>
				</div>
		<div class="row">
			<div class="col-12">
				<div>
					<form>
						<div class="template-input-form form-group">
							<label for="exampleInputEmail1">Afdeling</label>
							<select class="form-control">
								<option valur="privateperson">Options</option>
								<option value="option1">Option 1</option>
								<option value="option2">Option 2</option>
								<option value="option3">Option 3</option>
							</select>
						</div>
						<div class="template-input-form form-group">
							<label for="exampleInputEmail1">Modelbetegnelse</label>
							<select class="form-control">
								<option valur="privateperson">Options</option>
								<option value="option1">Option 1</option>
								<option value="option2">Option 2</option>
								<option value="option3">Option 3</option>
							</select>
						</div>
						<div class="form-group">
							<label for="formEfternavn">Tilføj Overskrift</label>
							<input type="text" class="form-control" id="formEfternavn">
						</div>
						<div class="form-group">
							<label for="formVej">Tekst 1</label>
							<input type="text" class="form-control" id="formVej">
						</div>
						<div class="form-group">
							<label for="formVej">Pris 1</label>
							<input type="text" class="form-control" id="formVej">
						</div>
						<div class="form-group">
							<label for="formVej">Tekst 2</label>
							<input type="text" class="form-control" id="formVej">
						</div>
						<div class="form-group">
							<label for="formVej">Info 2</label>
							<input type="text" class="form-control" id="formVej">
						</div>
						<div class="form-group">
							<label for="formVej">Pris 2</label>
							<input type="text" class="form-control" id="formVej">
						</div>
						<div class="form-group">
							<label for="formVej">Tekst 3</label>
							<input type="text" class="form-control" id="formVej">
						</div>
						<div class="form-group">
							<label for="formVej">Info 3</label>
							<input type="text" class="form-control" id="formVej">
						</div>
						<div class="form-group">
							<label for="formVej">Pris 3</label>
							<input type="text" class="form-control" id="formVej">
						</div>
						<div class="form-group">
							<label for="formVej">Tekst 4</label>
							<input type="text" class="form-control" id="formVej">
						</div>
						<div class="form-group">
							<label for="formVej">Info 4</label>
							<input type="text" class="form-control" id="formVej">
						</div>
						<div class="form-group">
							<label for="formVej">Pris 4</label>
							<input type="text" class="form-control" id="formVej">
						</div>
						<div class="form-group">
							<label for="formVej">Tekst 5</label>
							<input type="text" class="form-control" id="formVej">
						</div>
						<div class="form-group">
							<label for="formVej">Info 5</label>
							<input type="text" class="form-control" id="formVej">
						</div>
						<div class="form-group">
							<label for="formVej">Pris 5</label>
							<input type="text" class="form-control" id="formVej">
						</div>
						<div class="form-group">
							<label for="formVej">Tekst 6</label>
							<input type="text" class="form-control" id="formVej">
						</div>
						<div class="form-group">
							<label for="formVej">Info 6</label>
							<input type="text" class="form-control" id="formVej">
						</div>
						<div class="form-group">
							<label for="formVej">Pris 6</label>
							<input type="text" class="form-control" id="formVej">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="box__content box__print-clicked" id="box__print-clicked">
				<button class="close" id="customize-temp-overlay-close"></button>

		<div class="btn-item-content">
				<h4>Print / Save Template</h4>
			<button type="submit" class="col-12 btn btn-primary mt-3">Bestil via Bording</button>
			<button type="submit" class="col-12 btn btn-primary mt-3">Gem/Print</button>
		</div>
	</div>
</div>
