<div class="float-right">
	<ul class="list-unstyled sticky">
		<li class="mb-1">
			<a href="./terms-and-conditions.html" class="text-dark-grey font-weight-bold">
				<span>Terms & Conditions</span>
			</a>
		</li>
		<li class="mb-1">
			<a href="./faq-overview.html" class="text-dark-grey font-weight-bold">
				<span>FAQ</span>
			</a>
		</li>
		<li class="mb-1">
			<a href="./about-us.html" class="text-dark-grey font-weight-bold">
				<span>About Us</span>
			</a>
		</li>
	</ul>
</div>
