<nav class="main-header navbar">
	<div class="d-flex align-items-center">
		<div>
			@@include('components/_breadcrumb.html')
		</div>

		<div class="ml-auto">
			@@include('components/_language-picker.html')
		</div>

		<div class="d-flex align-items-center">
			<a href="#" title="" class="py-3 d-flex">
				<i data-feather="shopping-cart"></i>
			</a>
			<i data-feather="menu" class="d-lg-none ml-4 js-open-sidebar pointer"></i>
		</div>
	</div>
</nav>
