<nav class="navbar px-0">
	<a class="navbar-brand" href="/" title="">
		<img class="img-fluid" src="./assets/images/bordingcentral_logo.png" alt="" style="width: 10em;">
	</a>

	<div id="block-bc-languageswitcher" role="navigation">
		@@include('components/_language-picker.html')
	</div>
</nav>
