<div class="home-container">
	<div class="col-4 float-left">
		<ul class="nav flex-column top-categories">
			<li class="nav-item mb-2">
				<a data-toggle="tab" class="active show d-flex align-items-center topCat" data-showCategory="cat1">
					Top Category 1
					<i data-feather="chevron-right" class="ml-5"></i>
				</a>
			</li>
			<li class="nav-item mb-2">
				<a data-toggle="tab" class="d-flex align-items-center topCat" data-showCategory="cat2">
					Top Category 2
					<i data-feather="chevron-right" class="ml-5"></i>
				</a>

			</li>
			<li class="nav-item mb-2">
				<a data-toggle="tab" class="d-flex align-items-center topCat" data-showCategory="cat3">
					Top Category 3
					<i data-feather="chevron-right" class="ml-5"></i>
				</a>
			</li>
			<li class="nav-item mb-2">
				<a data-toggle="tab" class="d-flex align-items-center topCat" data-showCategory="cat4">
					Top Category 4
					<i data-feather="chevron-right" class="ml-5"></i>
				</a>
			</li>
			<li class="nav-item mb-2">
				<a data-toggle="tab" class="d-flex align-items-center topCat" data-showCategory="cat5">
					Top Category 5
					<i data-feather="chevron-right" class="ml-5"></i>
				</a>
			</li>
		</ul>
	</div>
	<div class="col-8 flex-column float-right">
		<div class="sub-cat">
			<div class="tab-content sub-categories">
				<div id="cat1" class="tab-pane active show tab-cat">
					<ul class="list-unstyled row">
						<li class="col-12 col-lg-4"><a href="#" title="">Sub Category 1</a></li>
						<li class="col-12 col-lg-4"><a href="#" title="">Sub Category 2</a></li>
						<li class="col-12 col-lg-4"><a href="#" title="">Sub Category 3</a></li>
						<li class="col-12 col-lg-4"><a href="#" title="">Sub Category 4</a></li>
						<li class="col-12 col-lg-4"><a href="#" title="">Sub Category 5</a></li>
						<li class="col-12 col-lg-4"><a href="#" title="">Sub Category 6</a></li>
					</ul>
				</div>
				<div id="cat2" class="tab-pane tab-cat">
					<ul class="list-unstyled row">
						<li class="col-12 col-lg-4"><a href="#" title="">Sub Category 1</a></li>
						<li class="col-12 col-lg-4"><a href="#" title="">Sub Category 2</a></li>
						<li class="col-12 col-lg-4"><a href="#" title="">Sub Category 3</a></li>
						<li class="col-12 col-lg-4"><a href="#" title="">Sub Category 4</a></li>
						<li class="col-12 col-lg-4"><a href="#" title="">Sub Category 5</a></li>
						<li class="col-12 col-lg-4"><a href="#" title="">Sub Category 6</a></li>
						<li class="col-12 col-lg-4"><a href="#" title="">Sub Category 7</a></li>
						<li class="col-12 col-lg-4"><a href="#" title="">Sub Category 8</a></li>
						<li class="col-12 col-lg-4"><a href="#" title="">Sub Category 9</a></li>
					</ul>
				</div>
				<div id="cat3" class="tab-pane tab-cat">
					<ul class="list-unstyled row">
						<li class="col-12 col-lg-4"><a href="#" title="">Sub Category 1</a></li>
						<li class="col-12 col-lg-4"><a href="#" title="">Sub Category 2</a></li>
						<li class="col-12 col-lg-4"><a href="#" title="">Sub Category 3</a></li>
					</ul>
				</div>
				<div id="cat4" class="tab-pane tab-cat">
					<ul class="list-unstyled row">
						<li class="col-12 col-lg-4"><a href="#" title="">Sub Category 1</a></li>
						<li class="col-12 col-lg-4"><a href="#" title="">Sub Category 2</a></li>
						<li class="col-12 col-lg-4"><a href="#" title="">Sub Category 3</a></li>
						<li class="col-12 col-lg-4"><a href="#" title="">Sub Category 4</a></li>
						<li class="col-12 col-lg-4"><a href="#" title="">Sub Category 5</a></li>
						<li class="col-12 col-lg-4"><a href="#" title="">Sub Category 6</a></li>
						<li class="col-12 col-lg-4"><a href="#" title="">Sub Category 7</a></li>
						<li class="col-12 col-lg-4"><a href="#" title="">Sub Category 8</a></li>
						<li class="col-12 col-lg-4"><a href="#" title="">Sub Category 9</a></li>
						<li class="col-12 col-lg-4"><a href="#" title="">Sub Category 10</a></li>
						<li class="col-12 col-lg-4"><a href="#" title="">Sub Category 11</a></li>
						<li class="col-12 col-lg-4"><a href="#" title="">Sub Category 12</a></li>
					</ul>
				</div>
				<div id="cat5" class="tab-pane tab-cat">
					<ul class="list-unstyled row">
						<li class="col-12 col-lg-4"><a href="#" title="">Sub Category 1</a></li>
						<li class="col-12 col-lg-4"><a href="#" title="">Sub Category 2</a></li>
						<li class="col-12 col-lg-4"><a href="#" title="">Sub Category 3</a></li>
						<li class="col-12 col-lg-4"><a href="#" title="">Sub Category 4</a></li>
						<li class="col-12 col-lg-4"><a href="#" title="">Sub Category 5</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>