<div class="media contact-person">
	<img class="mr-3 rounded-circle" src="./assets/images/no-avatar.png" style="width: 4em;">
	<div class="media-body">
		<h6 class="mt-0 font-weight-bold">Marc Jakobsen</h6>
		<div class="mb-1">
			<a href="mailto:maj@bording.dk" class="d-flex align-items-center">
				<i data-feather="mail" class="mr-2"></i>
				<span>maj@bording.dk</span>
			</a>
		</div>
		<div class="mb-1">
			<a href="tel:+4544515135" class="d-flex align-items-center">
				<i data-feather="phone" class="mr-2"></i>
				<span>+45 44 51 51 35</span>
			</a>
		</div>
	</div>
</div>
