<div class="faq-category-block">
	<h5 class="mb-3 font-weight-bold">
		Category
	</h5>
	<ul class="list-unstyled font-weight-light">
		<li class="question mb-1 text-truncate">
			<a href="./faq-details.html" class="text-dark-grey">How do I change my password?</a>
		</li>
		<li class="question mb-1 text-truncate">
			<a href="./faq-details.html" class="text-dark-grey">How do I change my password?</a>
		</li>
		<li class="question mb-1 text-truncate">
			<a href="./faq-details.html" class="text-dark-grey">How do I change my password?</a>
		</li>
		<li class="question mb-1 text-truncate">
			<a href="./faq-details.html" class="text-dark-grey">How do I change my password?</a>
		</li>
	</ul>
	<a href="./faq-overview.html" class="d-flex align-items-center">
		<span class="mr-2">View All</span>
		<i data-feather="arrow-right"></i>
	</a>
</div>
