<div class="news-single">
	<h3 class="font-weight-light font-italic pb-4">Et hac viverra porta justo tristique. Lorem mauris lectus dis, interdum vestibulum scelerisque qui, wisi amet, varius vivamus pellentesque convallis, pede est quisque pellentesque interdum. </h3>
	<div class="mb-3">
		<div class="media d-flex justify-content-center align-items-center bg-primary">
			<div>
				<a href="./news-and-announcements.html" class="d-flex justify-content-center align-items-center p-2 p-md-3">
					<i data-feather="book-open"></i>
				</a>
				<p class="text-light">NEWS IMAGE</p>
			</div>
		</div>
		<div>
				<p class="text-mid-light-grey">Lorem ipsum dolor sit amet, morbi viverra fusce in sed, blandit suspendisse in, fusce felis eu consequat. Blandit aliquet molestie tortor wisi luctus eget, adipiscing laoreet.</p>
		</div>

		<div class="content">
			<div>

				<div class="header">
					<p class="text-secondary border-bottom pb-2">March 19th 2018 - BordingCentral</p>
					<div class="d-flex justify-content-between align-items-center">
						<div class="d-flex align-items-center justify-content-between heading">
							<h5 class="font-weight-bold my-3">Sem viverra felis viverra etiam, nascetur augue</h5>
						</div>
					</div>
				</div>

				<div>
					<p>Metus rutrum blandit ligula mattis eu omnis, tellus mi lectus sapien, ipsum vitae sed wisi urna. In vitae sollicitudin. Lorem eget donec mauris netus ac, a nulla dolor erat, enim sit integer dolor, ornare ligula magna, tempus diam. Amet auctor luctus blandit etiam, magna cras et, cras mattis ac, phasellus suspendisse ut nisl molestie morbi.</p>
					<p>Neque elit elit a tempus cras risus, semper risus nibh phasellus egestas mi, convallis laoreet, lacinia laoreet id. Laoreet facilisi massa. Volutpat nonummy tellus curabitur ut, dui varius non venenatis cum. Gravida integer et, nibh ante dolor eget sed, nulla quis venenatis enim pellentesque viverra vitae, pulvinar pharetra leo massa, sed at. Vel nunc ornare vestibulum aptent in, euismod nibh odio donec arcu, proin in sed et consectetuer dui rutrum, egestas ut dapibus turpis, wisi magna pede nec. Vehicula vel non libero dui massa enim, velit urna tristique viverra justo.</p>
				</div>

				<div class="my-5">
					<div class="d-flex text-muted small justify-content-center mx-5 px-5">
							"Quam natoque sit porttitor mollis sagittis imperdiet, et habitasse purus, sodales penatibus cursus nam. Fermentum pulvinar enim vitae tellus, viverra quisque, est nisl ut lobortis felis, mollis bibendum sollicitudin lectus."
					</div>
				</div>

				<div>
					<p>Placerat nec taciti lacus commodo, imperdiet quis leo cursus, id nunc luctus etiam nec amet in, risus mattis cras suspendisse. Metus consectetuer, turpis curae id, imperdiet dictumst in, orci eget nec ultrices nec dui. Est scelerisque nec vel wisi hendrerit augue, id lacus vulputate in interdum mauris, ante ipsum tincidunt magna quisque. Per ullamcorper ornare ante lacus, eget diam pellentesque justo ac mauris. Bibendum corporis varius donec.</p>
					<p> Nec phasellus, malesuada nullam suscipit a faucibus mattis platea. Leo elit gravida habitant mauris arcu, nulla dui est at lectus dictum, mauris dui dapibus, phasellus id, libero pulvinar etiam sit. Consequat phasellus ac morbi sed id fringilla, cursus lobortis, ultricies arcu enim ut mi pellentesque. Sed erat ornare.</p>
				</div>

			</div>
		</div>
	</div>
</div>
