<div class="news-list">
	<div class="media d-flex justify-content-center align-items-center bg-primary">
		<div>
			<a href="./news-and-announcements.html" class="d-flex justify-content-center align-items-center p-2 p-md-3">
				<i data-feather="book-open"></i>
			</a>
			<p class="text-light">NEWS IMAGE</p>
		</div>
	</div>
	<div class="border">
		<div class="d-flex align-items-center justify-content-between heading">
			<h5 class="font-weight-bold my-3 px-3">Sem viverra felis viverra etiam, nascetur augue</h5>
		</div>
		<div class="px-3 pb-3">
			<p>Metus rutrum blandit ligula mattis eu omnis, tellus mi lectus sapien, ipsum vitae sed wisi urna. In vitae sollicitudin. Lorem eget donec mauris netus ac, a nulla dolor erat...</p>
			<a class="text-info" href="" titel="" target="">Read More</a>
		</div>
	</div>
</div>
