
<tr>
    <td scope="row">1234567</td>
    <td>11.01.2018</td>
    <td>Rådhuset - vær 8 Bernstorffsvej 161, 2920 Charlottenlund, DK</td>
    <td class="text-center"><span class="badge badge-success">Shipped</span></td>
    <td>2.568,00&nbsp;DKK</td>
    <td class="text-right"><a href="./order-details.html">See&nbsp;More</a></td>
</tr>