<div class="table-responsive">
	<table class="table border-bottom mb-0">
		<thead class="thead-light">
			<tr>
				<th scope="col">
					<span class="d-flex align-items-center">
						<span>Order&nbsp;No.</span>
						<i data-feather="chevron-down"></i>
					</span>
				</th>
				<th scope="col">
					<span class="d-flex align-items-center">
						<span>Order&nbsp;Date</span>
						<i data-feather="chevron-down"></i>
					</span>
				</th>
				<th scope="col">
					<span class="d-flex align-items-center">
						<span>Shipping&nbsp;Address</span>
						<i data-feather="chevron-down"></i>
					</span>
				</th>
				<th scope="col">
					<span class="d-flex align-items-center justify-content-center">
						<span>Status</span>
						<i data-feather="chevron-down"></i>
					</span>
				</th>
				<th scope="col">
					<span class="d-flex align-items-center">
						<span>Order&nbsp;Total</span>
						<i data-feather="chevron-down"></i>
				</th>
				</span>
				<th scope="col" class="text-right">Details</th>
			</tr>
		</thead>
		<tbody>
			@@include('components/blocks/_order-row.html') @@include('components/blocks/_order-row.html') @@include('components/blocks/_order-row.html')
			@@include('components/blocks/_order-row.html')
		</tbody>
	</table>

</div>
