<div class="product">
	<div class="product__media">
		<a href="./product-details.html" title="" class="d-flex justify-content-center align-items-center">
			<img data-src="assets/images/dj_logo.png" src="assets/images/placeholder.jpg" class="img-fluid lazy" alt="">
		</a>

		<button role="button" class="btn d-flex favorite-product justify-content-center align-items-center rounded-circle p-0 btn btn-info js-favorite-item">
			<i data-feather="heart"></i>
		</button>
	</div>

	<div class="product__content">
		<div class="product__overview">
			<div class="header">
				<div class="heading">
					<a href="./product-details.html" title="">
						<h6 class="font-weight-bold title">Roll up DJ logo t/tillidsmænd</h6>
					</a>
					<a href="./product-details.html" title="" class="badge large badge-secondary">3154530/500</a>
				</div>
			</div>

			<div class="list__content small">
				<div class="product__stock">
					<strong>Stock:</strong> No stock available.
				</div>
				<div class="product__notes">
					<strong>Notes:</strong> Stock is 0
				</div>
			</div>
		</div>
		<div class="product__cta">
			<div class="product__price">
				<strong>from:</strong>
				<div class="h4 text-secondary">DKK&nbsp;0,00</div>
			</div>
			<div class="product__view__btn mt-1">
				<a href="./product-details.html" title="" class="btn btn-primary btn-sm">View product</a>
			</div>
		</div>
	</div>
</div>
