<div class="mt-3 mb-3 product">
	<div class="product__media">
		<a href="./product-details.html" class="d-flex justify-content-center align-items-center">
			<img src="assets/images/blocks.png" class="img-fluid" alt="folder">
		</a>

		<a href="#" class="d-flex favorite-product justify-content-center align-items-center rounded-circle p-0 btn btn-info js-favorite-item">
			<i data-feather="heart"></i>
		</a>
	</div>

	<div class="product__content">
		<div class="d-flex justify-content-between align-items-center header">
			<div class="d-flex align-items-center justify-content-between heading">
				<h6 class="font-weight-bold mb-3">Timecard Version A</h6>
			</div>
		</div>

		<h6 class="mb-3">
			<span class="badge large badge-secondary">601457/M5 KUV U/R</span>
		</h6>

		<div class="list__content small">
			<ul class="list-inline mb-0">
				<strong>Price:</strong>
				<li class="list-inline-item">
					<em>500 pcs.</em> - Dkr. 610,-
				</li>
				<li class="list-inline-item">
					<em>1.000 pcs.</em> - Dkr. 990,-
				</li>
				<li class="list-inline-item">
					<em>1.500 pcs.</em> - Dkr. 1380,-
				</li>
				<li class="list-inline-item">
					<em>2.000 pcs.</em> - Dkr. 1760,-
				</li>
			</ul>
			<div>
				<strong>Description:</strong> A time card for your customer, with date and time for their next appointment.

			</div>

			<div class="list__content mt-2">
				<div class="text-muted small">
					A time card for your customer, with date and time for their next appointment.
				</div>
				<ul class="my-1 my-md-3">
					<li>
						<em>Format:</em> 85.7 x 54 mm</li>
					<li>
						<em>Colors:</em> 4 + 4 (CMYK)</li>
					<li>
						<em>Paper:</em> Scandia2000 Item No: 9125</li>
				</ul>

				<div class="cta d-flex justify-content-between align-items-center">
					<div>
						<p class="mb-0" style="text-decoration: line-through;">DKK 720,- ekskl. moms</p>
						<h5 class="mb-0"><strong>DKK 610,- ekskl. moms</strong></h5>
					</div>
					<a href="./product-details.html" class="btn btn-primary">See more</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="mb-3 product">
	<div class="product__media d-flex align-items-center">
		<div>
			<a href="./product-details.html" class="d-flex justify-content-center align-items-center p-2 p-md-3">
				<img src="assets/images/blocks.png" class="img-fluid" alt="folder" />
			</a>
			<button href="#" class="d-flex favorite-product justify-content-center align-items-center rounded-circle p-0 btn btn-info js-favorite-item">
				<i data-feather="heart"></i>
			</button>
		</div>
	</div>

	<div class="product__content">
		<div>
			<div class="header">
				<div class="d-flex justify-content-between align-items-center">
					<div class="d-flex align-items-center justify-content-between heading">
						<h6 class="font-weight-bold mb-0">Timecard Version A</h6>
					</div>
				</div>

				<a href="#" class="badge badge-secondary">601457/M5 KUV U/R</a>
			</div>

			<div class="list__content mt-2">
				<div class="text-muted small">
					A time card for your customer, with date and time for their next appointment. Some more description about this product, things you need to know if you want to purchase this product.
				</div>
				<ul class="my-1 my-md-3">
					<li>
						<em>Format:</em> 85.7 x 54 mm</li>
					<li>
						<em>Colors:</em> 4 + 4 (CMYK)</li>
					<li>
						<em>Paper:</em> Scandia2000 Item No: 9125</li>
				</ul>

				<div class="cta d-flex justify-content-between align-items-center">
					<div>
						<p class="mb-0" style="text-decoration: line-through;">DKK 720,- ekskl. moms</p>
						<h5 class="mb-0"><strong>DKK 610,- ekskl. moms</strong></h5>
					</div>
					<a href="./product-details.html" class="btn btn-primary">See more</a>
				</div>
			</div>
		</div>
	</div>
</div>
