<div class="product-configurator border-top">
	<div class="product-configurator-bullets py-4">
		<div class="row justify-content-around align-items-center">
			<div class="col-6 col-lg-3">
				<div class="d-flex align-items-center justify-content-center">
					<i class="text-info" data-feather="truck"></i>
					<label for="" class="col-9 col-form-label font-weight-bold text-secondary">Free Shipment</label>
				</div>
			</div>
			<div class="col-6 col-lg-3">
				<div class="d-flex align-items-center justify-content-center">
					<i class="text-info" data-feather="compass"></i>
					<label for="" class="col-9 col-form-label font-weight-bold text-secondary">Fast Delivery</label>
				</div>
			</div>
			<div class="col-6 col-lg-3">
				<div class="d-flex align-items-center justify-content-center">
					<i class="text-info" data-feather="star"></i>
					<label for="" class="col-9 col-form-label font-weight-bold text-secondary">High-End Quality</label>
				</div>
			</div>
			<div class="col-6 col-lg-3">
				<div class="d-flex align-items-center justify-content-center">
					<i class="text-info" data-feather="globe"></i>
					<label for="" class="col-9 col-form-label font-weight-bold text-secondary">Environment Friendly</label>
				</div>
			</div>
		</div>

	</div>
	<form action="">
		<div class="main-config mb-5">
			<h5 class="font-weight-bold mb-3">Product Configuration</h5>
			<div class="bg-light rounded p-3">
				<div class="form-group row align-items-center">
					<label for="" class="col-12 col-lg-4 col-form-label">Udførelse</label>
					<div class="col-12 col-lg-8">
						<div class="row align-items-center">
							<div class="col-9 col-lg-11">
								<select class="custom-select" id="">
									<option value="din" selected>DIN Format</option>
									<option value="rectangle"> Firkant</option>
									<option value="square">Kvadrat</option>
								</select>
							</div>
							<div class="col pl-0">
								<button type="button" data-toggle="modal" data-target="#exampleModal" class="btn px-2 d-flex align-items-center bg-transparent text-info float-right">
									<i data-feather="info"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group row align-items">
					<label for="" class="col-12 col-lg-4 col-form-label">Format</label>
					<div class="col-12 col-lg-8">
						<div class="row align-items-center">
							<div class="col-9 col-lg-11">
								<select class="custom-select" id="">
									<option value="A8" selected> DIN A8 (5,2 x 7,4 cm)</option>
									<option value="A7">DIN A7 lang (5,2 x 14,8 cm)</option>
								</select>
							</div>
							<div class="col pl-0">
								<button type="button" data-toggle="modal" data-target="#exampleModal" class="btn px-2 d-flex align-items-center bg-transparent text-info float-right">
									<i data-feather="info"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group row align-items-start">
					<label for="" class="col-12 col-lg-4 col-form-label">Materiale</label>
					<div class="col-12 col-lg-8">
						<div class="row align-items-center">
							<div class="col-9 col-lg-11">
								<select class="custom-select" id="">
									<option value="100" selected> 100g bestrøget blank</option>
									<option value="170">300g karton med aftageligt klistermærke, hvid</option>
									<option value="350">350g chromo-sulfatkarton mat</option>
								</select>
							</div>
							<div class="col pl-0">
								<button type="button" data-toggle="modal" data-target="#exampleModal" class="btn px-2 d-flex align-items-center bg-transparent text-info float-right">
									<i data-feather="info"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="quantity-delivery mb-5">
			<h5 class="font-weight-bold mb-3">Quantity & Delivery Type</h5>
			<div class="bg-light rounded p-3">
				<div class="form-group row align-items-center">
					<label for="" class="col-12 col-lg-4 col-form-label">Antal</label>
					<div class="col-12 col-lg-8">
						<div class="row align-items-center">
							<div class="col-9 col-lg-11">
								<select class="custom-select" class="js-quantity-select">
									<option value="10" selected>10 stk</option>
									<option value="25">25 stk</option>
									<option value="50">50 stk</option>
									<option value="75">75 stk</option>
									<option value="100">100 stk</option>
									<option value="250">250 stk</option>
									<option value="500">500 stk</option>
									<option value="1000">1000 stk</option>
									<option value="2500">2500 stk</option>
									<option value="5000">5000 stk</option>
									<option value="7500">7500 stk</option>
									<option value="10000">10000 stk</option>
									<option value="15000">15000 stk</option>
									<option value="20000">20000 stk</option>
									<option value="25000">25000 stk</option>
									<option value="30000">30000 stk</option>
									<option value="35000">35000 stk</option>
									<option value="40000">40000 stk</option>
								</select>
							</div>
							<div class="col pl-0">
								<button type="button" data-toggle="modal" data-target="#exampleModal" class="btn px-2 d-flex align-items-center bg-transparent text-info float-right">
									<i data-feather="info"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group row align-items-center">
					<label for="" class="col-12 col-lg-4 col-form-label">Leverings Type</label>
					<div class="col-12 col-lg-8">
						<div class="row align-items-center">
							<div class="col-9 col-lg-11">
								<select class="custom-select" class="js-delivery-type-select">
									<option value="standard" selected>Standard (7-8 hverdage)</option>
									<option value="express">Express (4-5 hverdage)</option>
									<option value="overnight">Overnight (1 hverdag)</option>
								</select>
							</div>
							<div class="col pl-0">
								<button type="button" data-toggle="modal" data-target="#exampleModal" class="btn px-2 d-flex align-items-center bg-transparent text-info float-right">
									<i data-feather="info"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="extra-config mb-5">
			<h5 class="font-weight-bold mb-3">Extra Configuration</h5>
			<div class="bg-light rounded p-3">
				<div class="form-group row align-items-center">
					<label for="" class="col-12 col-lg-4 col-form-label">Papirkvalitet</label>
					<div class="col-12 col-lg-8">
						<div class="row align-items-center">
							<div class="col-9 col-lg-11">
								<select class="custom-select" id="">
									<option value="blank" selected>Blank bestrøget</option>
									<option value="mat">Mat bestrøget</option>
								</select>
							</div>
							<div class="col pl-0">
								<button type="button" data-toggle="modal" data-target="#exampleModal" class="btn px-2 d-flex align-items-center bg-transparent text-info float-right">
									<i data-feather="info"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group row align-items-center">
					<label for="" class="col-12 col-lg-4 col-form-label">Bundtning</label>
					<div class="col-12 col-lg-8">
						<div class="row align-items-center">
							<div class="col-9 col-lg-11">
								<select class="custom-select" id="">
									<option value="0" selected>Ingen Bundtning</option>
									<option value="25">25 eksemplarer</option>
									<option value="50">50 eksemplarer</option>
									<option value="100">100 eksemplarer</option>
								</select>
							</div>
							<div class="col pl-0">
								<button type="button" data-toggle="modal" data-target="#exampleModal" class="btn px-2 d-flex align-items-center bg-transparent text-info float-right">
									<i data-feather="info"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group row align-items-center">
					<label for="" class="col-12 col-lg-4 col-form-label">Datakontrol</label>
					<div class="col-12 col-lg-8">
						<div class="row align-items-center">
							<div class="col-9 col-lg-11">
								<select class="custom-select" id="">
									<option value="false" selected>Uden Datakontrol</option>
									<option value="true">Med Datakontrol</option>
								</select>
							</div>
							<div class="col pl-0">
								<button type="button" data-toggle="modal" data-target="#exampleModal" class="btn px-2 d-flex align-items-center bg-transparent text-info float-right">
									<i data-feather="info"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="summary mb-4">
			<h5 class="font-weight-bold mb-3">Summary</h5>
			<div class="bg-light rounded p-3">
				<div class="row">
					<div class="col-12 col-lg-4">
						<small>
							<strong>Shipment: (standard)</strong>
							<strong class="d-flex justify-content-center border p-2 my-2 bg-white text-secondary">Wednesday, March 21st 2018</strong>
						</small>
						<div class="border-top pt-3 mt-3">
							<small>
								<strong>Terms & Conditions</strong>
								<ul class="list-unstyled">
									<li>
										<a href="#" target="_blank">Terms of Use</a>
									</li>
									<li>
										<a href="#" target="_blank">Bording Central</a>
									</li>
									<li>
										<a href="#" target="_blank">Privacy Policy</a>
									</li>
								</ul>
							</small>
						</div>
					</div>
					<div class="col-12 col-lg-8">
						<div class="d-flex flex-column p-3 bg-white rounded">
							<div class="mb-3">
								<div class="d-flex justify-content-between">
									<medium>Netto pris (ekskl. moms)</medium>
									<h4>210,24&nbsp;DKK</h4>
								</div>
								<div class="d-flex justify-content-between">
									<small>25%</small>
									<h5>52,56&nbsp;DKK</h5>
								</div>
							</div>
							<div class="d-flex justify-content-between border-top border-bottom py-2">
								<small>Forsendelse</small>
								<h5 class="mb-0">0,00&nbsp;DKK</h5>
							</div>
							<div class="d-flex justify-content-between mt-2 text-secondary">
								<span class="h2">Sum
									<small>(inkl. 25 % moms)</small>
								</span>
								<h2>262,80&nbsp;DKK</h2>
							</div>
							<a href="./product-add-to-cart.html">
								<button type="button" class="btn btn-success my-3 float-right">ADD TO CART</button>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>

	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
			<div class="modal-content rounded-0">
				<div class="modal-header d-flex justify-content-between align-items-center">
					<h5 class="modal-title" id="exampleModalLongTitle">Extra Configuration</h5>


					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<h5>Få kontrolleret trykfiler</h5>
					<p>Hvis du vil få kontrolleret dine trykfiler, har du under bestillingsprocessen på produktsiden mulighed for at rekvirere
						vores datakontrol som ekstra mulighed.</p>

					<p>
						Ved denne ydelse (mod gebyr) kontrollerer vi dine trykfiler efter bestemte kriterier og udfører tilpasninger, hvis muligt
						(f.eks. bliver en manglende beskæring tilføjet). Hvis dine trykfiler ikke kan anvendes, kontakter vi dig på e-mail.
						Produktionen starter efter din korrektur af trykfilerne.
					</p>

					<h6>Overblik over fordelene ved datakontrollen:</h6>
					<ul>
						<li>Professionel kvalitetskontrol efter bestemte kriterier</li>
						<li>Understøttelse ved korrekturen af trykfilerne</li>
						<li>Meddelelse ved behov for optimering</li>
					</ul>

					<h5>Hvad kontrolleres der i datakontrollen?</h5>
					<h6>Opløsning</h6>
					<p>Er opløsningen tilstrækkelig?</p>

					<h6>Beskæring</h6>
					<p>Er beskæringen oprettet rigtigt?</p>

					<h6>Format/formatafvigelser</h6>
					<p>Stemmer formatet af dine trykfiler overens med formatet af det produkt, som du har bestilt i onlineshoppen?</p>

					<h6>Kommentarer/formularfelter</h6>
					<p>
						Er der kommentarer?
						<br> Løsning: Alle kommentarer afvises.
					</p>

					<p>
						Er der udfyldte formularfelter?
						<br> Løsning: Indholdet af formularfelterne omdannes til indhold, der trykkes.
					</p>

					<h6>Skrifttyper</h6>
					<p>
						Er alle skrifttyper implementeret eller omdannet til stier?
					</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

</div>
