<div class="mb-3 product">
	<div class="product__media">
		<a href="./product-details.html" class="d-flex justify-content-center align-items-center">
			<img src="assets/images/blocks.png" class="img-fluid" alt="folder" />
		</a>
		<button href="#" class="d-flex favorite-product justify-content-center align-items-center rounded-circle p-0 btn btn-info js-favorite-item">
			<i data-feather="heart"></i>
		</button>
	</div>

	<div class="product__content">
		<div class="d-flex justify-content-between align-items-center header">
			<div class="d-flex align-items-center justify-content-between heading">
				<h6 class="font-weight-bold mb-0">Timecard Version A</h6>
			</div>
		</div>

		<h6>
			<a href="#" class="badge badge-secondary">601457/M5 KUV U/R</a>
		</h6>
	</div>
</div>
