<div class="row">
	<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 mb-md-3">
		@@include('components/blocks/_related-product.html')
	</div>
	<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 mb-md-3">
		@@include('components/blocks/_related-product.html')
	</div>
	<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 mb-md-3">
		@@include('components/blocks/_related-product.html')
	</div>
	<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 mb-md-3">
		@@include('components/blocks/_related-product.html')
	</div>
	<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 mb-md-3">
		@@include('components/blocks/_related-product.html')
	</div>
	<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 mb-md-3">
		@@include('components/blocks/_related-product.html')
	</div>
	<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 mb-md-3">
		@@include('components/blocks/_related-product.html')
	</div>
	<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 mb-md-3">
		@@include('components/blocks/_related-product.html')
	</div>
	<div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 mb-md-3">
		@@include('components/blocks/_related-product.html')
	</div>
</div>
