<div class="card">
	<div class="card-body">
		<h4>
			<div class="card-title">Time Cards</div>
		</h4>
		<div>
			<p>Vaelg dit eget personlige tidskort</p>
			<ul>
				<li>Indtast egen adresse</li>
				<li>Vaelg din egen forside</li>
				<li>Fa dem sendt direkte hjem</li>
			</ul>
		</div>
	</div>
	<a href="#" class="btn btn-secondary btn-sm rounded-0">Go to Time Cards</a>

</div>
