<div class="btn-group pr-3 btn-group-toggle list-view-toggle" data-toggle="buttons" style="z-index: 0;">
	<label class="btn btn-light d-flex align-items-center js-toggle-grid active">
		<input type="radio" name="options" id="option1" autocomplete="off" checked>
		<i data-feather="grid"></i>
	</label>
	<label class="btn btn-light d-flex align-items-center js-toggle-list">
		<input type="radio" name="options" id="option2" autocomplete="off">
		<i data-feather="list"></i>
	</label>
</div>
