<address class="mb-md-0">
	<h5 class="text-mid-dark-grey mb-2">Billing Address</h5>
	<div>
			<div class="billing-address mb-2">
				<strong>Gentofte Kommune - Rådhuset</strong>
				<br/>Firmanavn 2
			</div>
			<div>
				Jens Josefsen
				<br/>Rådhuset - vær 8
				<br/>Bernstorffsvej 161
				<br/>2920 Charlottenlund
				<br/>Danmark
			</div>
		</div>
</address>
