<div class="table-responsive">
		<table class="table mb-0">
			 <thead class="thead-light">
					<tr>
						 <th scope="col">Product&nbsp;details</th>
						 <th scope="col" class="text-center">Quantity</th>
						 <th scope="col" class="text-center">Shiptment Status</th>
						 <th scope="col" class="text-center">Tracking</th>
						 <th scope="col" class="text-right">Price</th>
						 <th scope="col" class="text-right">Total</th>
					</tr>
			 </thead>
			 <tbody>
					<tr>
						 <td class="align-top">
								<div class="media">
									 <img class="mr-3 d-none d-lg-table-cell" style="width: 5em" src="./assets/images/blocks.png" alt="Generic placeholder image">
									 <div class="media-body">
											<p class="m-0">
												 <strong>Flyers Klassiker</strong>
											</p>
											<a href="#" class="badge badge-secondary px-2 font-weight-normal">9417271</a>
											<button class="btn px-0 py-2 btn-sm d-flex align-items-center text-info border-0 collapsed" type="button" data-toggle="collapse" data-target="#example1" aria-expanded="false" aria-controls="example1">
												 <span>Detaljer</span>
												 <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info ml-1">
														<circle cx="12" cy="12" r="10"></circle>
														<line x1="12" y1="16" x2="12" y2="12"></line>
														<line x1="12" y1="8" x2="12" y2="8"></line>
												 </svg>
											</button>
									 </div>
								</div>
							</td>
						<td class="align-top text-center">
						 250
						 </td>
						 <td class="align-top text-center">
								<span class="badge badge-mid-light-grey px-2 font-weight-normal">Pending</span>
						 </td>
						 <td class="align-top text-center">
								N/A
						 </td>
						 <td class="align-top text-right">
								12,54&nbsp;DKK
						 </td>
						 <td class="align-top text-right">
								25,08&nbsp;DKK
						 </td>
					</tr>
					<tr>
						 <td colspan="6" style="margin: 0;padding:0;border:none;">
								<div class="border-top px-3 py-2 collapse" id="example1">
									 <li class="list-inline-item small">
											<strong>Format</strong> 13,8 x 29,7 cm
									 </li>
									 <li class="list-inline-item small">
											<strong>Materiale</strong> 70 g bestrøget mat
									 </li>
									 <li class="list-inline-item small">
											<strong>Farver</strong> 4/4
									 </li>
									 <li class="list-inline-item small">
											<strong>Datablad</strong> <a href="#"> Download</a>
									 </li>
								</div>
						 </td>
					</tr>
					<tr>
							<td class="align-top">
								 <div class="media">
										<img class="mr-3 d-none d-lg-table-cell" style="width: 5em" src="./assets/images/blocks.png" alt="Generic placeholder image">
										<div class="media-body">
											 <p class="m-0">
												<strong>Flyers Klassiker</strong>
											</p>
											<a href="#" class="badge badge-secondary px-2 font-weight-normal">9417271</a>
											<button class="btn px-0 py-2 btn-sm d-flex align-items-center text-info border-0 collapsed" type="button" data-toggle="collapse" data-target="#example2" aria-expanded="false" aria-controls="example2">
												<span>Detaljer</span>
												<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info ml-1">
													<circle cx="12" cy="12" r="10"></circle>
													<line x1="12" y1="16" x2="12" y2="12"></line>
													<line x1="12" y1="8" x2="12" y2="8"></line>
												</svg>
											 </button>
										</div>
								 </div>
							</td>
							<td class="align-top text-center">
								 250
							</td>
							<td class="align-top text-center">
									<span class="badge badge-info px-2 font-weight-normal">In progress</span>
							</td>
							<td class="align-top text-center">
								 N/A
							</td>
							<td class="align-top text-right">
								 12,54&nbsp;DKK
							</td>
							<td class="align-top text-right">
								 25,08&nbsp;DKK
							</td>
					 </tr>
					 <tr>
							<td colspan="6" style="margin: 0;padding:0;border:none;">
								 <div class="border-top px-3 py-2 collapse" id="example2">
										<li class="list-inline-item small">
											 <strong>Format</strong> 13,8 x 29,7 cm
										</li>
										<li class="list-inline-item small">
											<strong>Materiale</strong> 70 g bestrøget mat
										</li>
										<li class="list-inline-item small">
												<strong>Farver</strong> 4/4
										</li>
										<li class="list-inline-item small">
											<strong>Datablad</strong> <a href="#"> Download</a>
										</li>
								 </div>
							</td>
					 </tr>
					 <tr>
							<td class="align-top">
								 <div class="media">
										<img class="mr-3 d-none d-lg-table-cell" style="width: 5em" src="./assets/images/blocks.png" alt="Generic placeholder image">
										<div class="media-body">
											<p class="m-0">
												<strong>Flyers Klassiker</strong>
											</p>
											<a href="#" class="badge badge-secondary px-2 font-weight-normal">9417271</a>
											<button class="btn px-0 py-2 btn-sm d-flex align-items-center text-info border-0 collapsed" type="button" data-toggle="collapse" data-target="#example3" aria-expanded="false" aria-controls="example3">
												<span>Detaljer</span>
												<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info ml-1">
													<circle cx="12" cy="12" r="10"></circle>
													<line x1="12" y1="16" x2="12" y2="12"></line>
													<line x1="12" y1="8" x2="12" y2="8"></line>
												</svg>
											</button>
										</div>
								 </div>
							</td>
							<td class="align-top text-center">
								 250
							</td>
							<td class="align-top text-center">
									<span class="badge badge-success px-2 font-weight-normal">Shipped</span>
							</td>
							<td class="align-top text-center">
									<a href="https://www.postnord.dk/track-trace#dynamicloading=true&shipmentid=SHIPMENT_NUMBER_HERE">1236436343</a>
							 </td>
							<td class="align-top text-right">
								 12,54&nbsp;DKK
							</td>
							<td class="align-top text-right">
								 25,08&nbsp;DKK
							</td>
					 </tr>
					 <tr>
							<td colspan="6" style="margin: 0;padding:0;border:none;">
								 <div class="border-top px-3 py-2 collapse" id="example3">
										<li class="list-inline-item small">
											 <strong>Format</strong> 13,8 x 29,7 cm
										</li>
										<li class="list-inline-item small">
											 <strong>Materiale</strong> 70 g bestrøget mat
										</li>
										<li class="list-inline-item small">
											 <strong>Farver</strong> 4/4
										</li>
										<li class="list-inline-item small">
											<strong>Datablad</strong> <a href="#"> Download</a>
										</li>
								 </div>
							</td>
					 </tr>
			 </tbody>
			 <tfoot>
					<tr>
							<td colspan="5" class="text-right">Total Weight</td>
							<td class="text-right">0.72 Kg</td>
					</tr>
					<tr class="font-weight-bold">
						 <td colspan="5" class="text-right">Sub-total</td>
						 <td class="text-right">12.623,52&nbsp;DKK</td>
					</tr>
					<tr class="font-weight-bold">
						 <td colspan="5" class="text-right border-top-0">Total VAT</td>
						 <td class="text-right border-top-0">2.524,71&nbsp;DKK</td>
					</tr>
					<tr class="text-secondary font-weight-bold">
						 <th colspan="5" class="text-right"><h3>Total</h3></th>
						 <td class="text-right"><h3>15.148,26&nbsp;DKK</h3></td>
					</tr>
			 </tfoot>
		</table>
 </div>
