<div>
	<h5 class="text-mid-dark-grey">References</h5>
	<strong>Shipment</strong>
	<p>UPS - Standard</p>
	<strong>Reference No:</strong>
	<p>csadf</p>
	<strong>Order confirmation by email:</strong>
	<p>No</p>
	<strong>Delivery Notes:</strong>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure.
	</p>
</div>
