<div class="box">

		<div class="box__header">
			<h5 class="mb-0">Faktureringsadresse</h5>
		</div>

		<div class="box__content">

				<address class="mb-md-0">
					<div>
						<div class="template-input-form form-group">
							<select class="form-control">
								<option valur="privateperson">Vælg faktureringsadresse</option>
								<option value="option1">Adresse 1</option>
								<option value="option2">Adresse 2</option>
								<option value="option3">Adresse 3</option>
							</select>
							<form data-drupal-selector="views-exposed-form-faqs-faq-default" action="https://dev.bordingcentral.dk/en/faqs" method="get"
							id="views-exposed-form-faqs-faq-default" accept-charset="UTF-8" _lpchecked="1">
							<div class="row">
								<div class="col-12 my-3">
									<label for="edit-question" class="d-none">Search</label>
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text bg-light-grey" id="basic-addon1">
												<i data-feather="search"></i>
											</span>
										</div>
										<input 0="invisible" data-drupal-selector="edit-question" type="text" id="edit-question" name="question" value="" size="30"
											maxlength="128" placeholder="Search address book..." class="form-control" aria-describedby="basic-addon1">
									</div>
								</div>
							</div>
						</form>
						</div>
						<div class="delivery-address mb-2">
							<strong>COMPANY.</strong>
							<p class="lead">Gentofte Kommune - Rådhuset</p>
							<p>Firmanavn 2</p>
						</div>
						<div>
							Test Buyer
							<br/>Rådhuset - vær 8 Bernstorffsvej 161
							<br/>8240 Aarhus
							<br/>Danmark
						</div>
					</div>
				</address>

	</div>

</div>
