<div class="box">

		<div class="box__header">
			<h5 class="mb-0">Referencenr./ Rekvisition</h5>
		</div>

		<div class="box__content">

		<form id="ajax-contact" action="/json/faqsubmit/" method="post">
			<div class="form-group mb-3">
				<input class="form-control" placeholder="Referencenr./ Rekvisition" type="text" value="" required="" name="Email" maxlength="25">
				<small>Note vedrørende om at rekvisition vil være synlig på ordrebekræftelsen og fakturaen.</small>
			</div>
			<div class="checkbox my-3">
				<label>
					<input type="checkbox"> Ordrebekræftelse via e-mail
				</label>
			</div>
			<div class="form-group">
				<label for="example-text-input" class="col-form-label-sm p-0 my-2">Leveringskommentarer</label>
				<textarea class="form-control form-textarea" required="" maxlength="250" placeholder="Skriv din leveringsbemærkning"
					name="Message"></textarea>
				<span class="badge" style="margin-top: 10px; transition: background 0.3s linear; color: white; background-color: #033353;">0 / 250</span>
			</div>
		</form>

	</div>

</div>
