<form data-drupal-selector="user-login-form" action="https://tandlaeger.bording.dev/en/user/password" method="post" id="user-login-form"
  accept-charset="UTF-8">
	<div class="row">
		<div class="col-12 col-sm-10 col-md-6 col-lg-4 mx-auto">
			<div class="text-center card">
				<div class="card-header">
					<img src="assets/images/logo-full.png" alt="" class="img-fluid px-5 my-5" />
				</div>
					<div class="card-body">
					<p class="text-muted">Enter your email to recover your password.</p>
					<div class="form-group">
						<div class="js-form-item form-item md-form form-group js-form-type-email form-item-name js-form-item-name form-no-label"
							inputtype=email>
							<input autocorrect="off" autocapitalize="off" spellcheck="false" autofocus="autofocus" placeholder="E-mail *" class="form-control form-email required"
								data-drupal-selector="edit-name" type="email" id="edit-name" name="name" value="" size="60" maxlength="254"
								required="required" aria-required="true" />
						</div>
					</div>
					<input autocomplete="off" data-drupal-selector="form-akf-te0xulfagkogxgqo7nmmdumnkqmwhhjkfxizfoo" type="hidden" name="form_build_id"
						value="form-akF_Te0XulFAGkoGXGqO7nMMDumNkqmwHhJKfXIZfoo" />
					<input data-drupal-selector="edit-user-pass" type="hidden" name="form_id" value="user_pass" />
					<div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions">
						<input class="btn btn-primary btn-block js-form-submit form-submit" data-drupal-selector="edit-submit" type="submit" id="edit-submit"
							name="op" value="Recover" />
					</div>
					<a class="nav-link mt-3 p-0" href="./login.html" title="">
						<small>Back to login</small>
					</a>
				</div>
				</div>
			</div>
		</div>
	</div>
</form>
