<form data-drupal-selector="user-login-form" action="https://tandlaeger.bording.dev/user/login" method="post" id="user-login-form"
  accept-charset="UTF-8">
	<div class="row">
		<div class="col-12 col-sm-10 col-md-6 col-lg-4 mx-auto">
			<div class="text-center card">
				<div class="card-header">
					<img src="assets/images/placeholder_logo.png" class="img-fluid px-5 my-5" alt="Test"/>
				</div>
				<div class="card-body">
					<div class="form-group">
						<div class="js-form-item form-item form-group js-form-type-textfield form-item-name js-form-item-name form-no-label" inputtype=textfield>
							<input autocorrect="none" autocapitalize="none" spellcheck="false" autofocus="autofocus" placeholder="E-mail*"
								class="form-control text-center form-text required form-control" data-drupal-selector="edit-name" type="text" id="edit-name"
								name="name" value="" size="60" maxlength="254" required="required" aria-required="true" />
						</div>
					</div>
					<div class="form-group">
						<div class="js-form-item form-item form-group js-form-type-password form-item-pass js-form-item-pass form-no-label" inputtype=password>
							<input placeholder="Password*" class="form-control  text-center form-text required form-control" data-drupal-selector="edit-pass"
								type="password" id="edit-pass" name="pass" size="60" maxlength="128" required="required" aria-required="true" />
						</div>
					</div>
					<input autocomplete="off" data-drupal-selector="form-1te4ebsvo7k7xrvmxnuuxqcakjuojjvb-sh4hyrniiw" type="hidden" name="form_build_id"
						value="form-1Te4EBsvO7K7xRvmXnUUxQcAKJuojJvB_sh4HYrniIw" />
					<input data-drupal-selector="edit-user-login-form" type="hidden" name="form_id" value="user_login_form" />
					<div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions">
						<input class="btn btn-block btn-primary js-form-submit form-submit" data-drupal-selector="edit-submit" type="submit" id="edit-submit "
							name="op" value="Log in" />
					</div>
					<a class="nav-link pb-0 pt-3" href="./forgot-password.html">
						<small>Forgot Password?</small>
					</a>
				</div>
				</div>
			</div>
		</div>
	</div>
</form>
