<form action="">
	<div class="form-group">
		<label for="" class="col-form-label-sm">Skilte Titel(Vises i toppen)</label>
		<input class="form-control" type="text" placeholder="Skilte Titel..." required="" name="">
	</div>

	<div class="form-group">
		<label for="" class="col-form-label-sm">Total Beløb</label>
		<input class="form-control" type="text" placeholder="Total Beløb..." required="" name="">
	</div>

	<div class="form-row">
		<div class="form-group col-12 col-md-5">
			<label for="" class="col-form-label-sm">Besparelses Type</label>
			<select class="custom-select">
				<option value="DKK">Beløb (DKK)</option>
				<option value="%">Procent (%)</option>
			</select>
		</div>

		<div class="form-group col-12 col-md-7">
			<label for="" class="col-form-label-sm">Besparelse i % / DKK</label>
			<input class="form-control" type="text" placeholder="Besparelse i % / DKK..." required="" name="">
		</div>
	</div>

	<div class="form-group">
		<label for="" class="col-form-label-sm">Beskrivende Tekst 1</label>
		<input class="form-control" type="text" placeholder="Beskrivende Tekst 1..." required="" name="">
	</div>

	<div class="form-group">
		<label for="" class="col-form-label-sm">Beskrivende Tekst 2</label>
		<input class="form-control" type="text" placeholder="Beskrivende Tekst 2..." required="" name="">
	</div>

	<div class="form-group">
		<label for="" class="col-form-label-sm">Beskrivende Tekst 3</label>
		<input class="form-control" type="text" placeholder="Beskrivende Tekst 3..." required="" name="">
	</div>

	<div class="form-row">
		<div class="form-group col-12 col-md-6">
			<label for="" class="col-form-label-sm">Farve På Skiltet</label>
			<select class="custom-select">
				<option value="blue">Blå</option>
				<option value="grey">Grå</option>
			</select>
		</div>

		<div class="form-group col-12 col-md-6">
			<label for="" class="col-form-label-sm">Format På Skiltet</label>
			<select class="custom-select">
				<option value="A4">A4</option>
				<option value="A5">A5</option>
			</select>
		</div>
	</div>

	<button type="submit" class="btn btn-secondary btn-block mt-3">Forhåndsvisning</button>
</form>
