<div>
	<div class="media mb-3 mb-md-4 d-flex align-items-center">
		<img class="media-img mr-3 rounded-circle" src="./assets/images/no-avatar.png" >
		<div class="media-body">
			<h6 class="mt-0 font-weight-bold">Testuser Testusersen</h6>
			<a href="mailto:maj@bording.dk" class="d-flex small align-items-center">
				<i data-feather="mail" class="mr-2"></i>
				<span>test@bording.dk</span>
			</a>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<address class="shipping-address">
				<div class="d-flex align-items-center">
					<h6 class="font-weight-bold mr-2">Shipping Address</h6>
				</div>
				Gentofte Kommune - Rådhuset
				<br/>Rådhuset - vær 8
				<br/>Bernstorffsvej 161
				<br/>2920, Charlottenlund DK
			</address>

			<address class="primary-address">
				<div class="d-flex align-items-center">
					<h6 class="font-weight-bold mr-2">Primary Address</h6>
				</div>
				Gentofte Kommune - Rådhuset
				<br/>Rådhuset - vær 8
				<br/>Bernstorffsvej 161
				<br/>2920, Charlottenlund DK
			</address>
		</div>
	</div>
</div>
