<form action="">
	<div class="form-group">
		<label for="" class="col-form-label-sm">Current Password</label>
		<input class="form-control" type="password" placeholder="Current Password..." required="" name="">
	</div>

	<div class="form-group">
		<label for="" class="col-form-label-sm">New Password</label>
		<input class="form-control" type="password" placeholder="New Password..." required="" name="">
		<div class="password-strength mt-2">
			<div class="progress rounded-0" style="height: 4px;">
				<div class="progress-bar bg-danger" role="progressbar" style="width: 10%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
			<small class="text-danger">
				Password strength: <strong>Weak</strong>
			</small>
		</div>
	</div>

	<div class="form-group">
		<label for="" class="col-form-label-sm">Confirm Password</label>
		<input class="form-control" type="password" placeholder="Confirm Password...">
		<small class="d-flex align-items-center mt-1">
			Password match:
			<i data-feather="x" class="text-danger"></i>
			<i data-feather="check" class="text-success"></i>
		</small>
	</div>
	<input type="submit" value="Save" class="col-md-5 btn btn-block btn-primary mt-2 mb-4 mb-lg-5">
</form>
