<form action="">
	<div class="form-group">
		<label for="" class="col-form-label-sm">Country</label>
		<select class="custom-select">
			<option value="None">None</option>
			<option value="Denmark">Denmark</option>
		</select>
	</div>

	<div class="form-group">
		<label for="" class="col-form-label-sm">Company</label>
		<input class="form-control" type="text" placeholder="Company..." required="" name="">
	</div>

	<div class="form-group">
		<label for="" class="col-form-label-sm">Company 2</label>
		<input class="form-control" type="text" placeholder="Company 2..." required="" name="">
	</div>

	<div class="form-group">
		<label for="" class="col-form-label-sm">Street Address</label>
		<input class="form-control" type="text" placeholder="Street Address..." required="" name="">
	</div>

	<div class="form-group">
		<label for="" class="col-form-label-sm">Street Address 2</label>
		<input class="form-control" type="text" placeholder="Street Address 2..." required="" name="">
	</div>

	<div class="form-row">
		<div class="form-group col-12 col-md-5">
			<label for="" class="col-form-label-sm">Postal Code</label>
			<input class="form-control" type="text" placeholder="Postal Code..." required="" name="">
		</div>

		<div class="form-group col-12 col-md-7">
			<label for="" class="col-form-label-sm">City</label>
			<input class="form-control" type="text" placeholder="City..." required="" name="">
		</div>
	</div>

	<input type="submit" value="Save" class="col-md-5 btn btn-primary btn-block mt-2 mb-4 mb-lg-5">
</form>
