<form action="">
	<div class="form-row">
		<div class="form-group col-12 col-sm-6">
			<label for="" class="col-form-label-sm">First Name</label>
			<input class="form-control" type="text" placeholder="First Name..." required="" name="">
		</div>

		<div class="form-group col-12 col-sm-6">
			<label for="" class="col-form-label-sm">Last Name</label>
			<input class="form-control" type="text" placeholder="Last Name..." required="" name="">
		</div>
	</div>

	<div class="form-group">
		<label for="" class="col-form-label-sm">Company</label>
		<input class="form-control" type="text" placeholder="Company..." required="" name="">
	</div>

	<div class="form-group">
		<label for="" class="col-form-label-sm">Company 2</label>
		<input class="form-control" type="text" placeholder="Company 2..." required="" name="">
	</div>

	<div class="form-group">
		<label for="" class="col-form-label-sm">Street Address</label>
		<input class="form-control" type="text" placeholder="Street Address..." required="" name="">
	</div>

	<div class="form-group">
		<label for="" class="col-form-label-sm">Street Address 2</label>
		<input class="form-control" type="text" placeholder="Street Address 2..." required="" name="">
	</div>

	<div class="form-row">
		<div class="form-group col-12 col-md-5">
			<label for="" class="col-form-label-sm">Postal Code</label>
			<input class="form-control" type="text" placeholder="Postal Code..." required="" name="">
		</div>

		<div class="form-group col-12 col-md-7">
			<label for="" class="col-form-label-sm">City</label>
			<input class="form-control" type="text" placeholder="City..." required="" name="">
		</div>
	</div>

	<input type="submit" value="Save" class="col-md-5 btn btn-primary btn-block mt-2 mb-4 mb-lg-5">
</form>
